// Import utilities.
@import 'utils/typography';
@import 'utils/colors';
@import 'utils/mixins';
@import 'utils/variables';

/* Global styles */
@import 'global/window';
@import 'global/grid';
@import 'global/flex';

/* Styles limited to exaltedessence sheets */
.exaltedessence {
  @import 'components/forms';
  @import 'components/resource';
  @import 'components/tabs';
  @import 'components/items';
}

// .exaltedessence .window-content {
//   background: url('../assets/background.png');
// }

.exaltedessence .window-content .abilities,
.exaltedessence.sheet.actor .window-content .abilities {
  border: none;
  border-bottom: 1px solid #b5b3a4;
}

/* Resource boxes CSS */

.exaltedessence .resource-value .resource-value-step {
  height: 14px;
  width: 14px;
  border: 1px solid black;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}
  
.exaltedessence .resource-value-static .resource-value-static-step {
  height: 14px;
  width: 14px;
  border: 1px solid black;
  display: inline-block;
  border-radius: 50%;
}

.exaltedessence .augment-attribute {
  margin-left: 5px;
  cursor: pointer;
}

.exaltedessence .augment-attribute-active {
  color: #147c14;
}

.exaltedessence .resource-value .resource-value-empty {
  height: 14px;
  width: 14px;
  border: 1px solid black;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  background:
    linear-gradient(
      45deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    ),
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    );
}

.exaltedessence .resource-counter .resource-counter-step {
  height: 14px;
  width: 14px;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
}

.exaltedessence .resource-counter .resource-counter-step[data-state="-"] {
  background-color: #147c14;
}

.exaltedessence .resource-counter .resource-counter-step[data-state="/"] {
  background:
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    );
}

.exaltedessence .resource-counter .resource-counter-step[data-state="x"] {
  background:
    linear-gradient(
      45deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    ),
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    );
}

.exaltedessence .flex-group-center:not(.flexrow) .resource-value,
.exaltedessence .flex-group-center:not(.flexrow) .resource-counter {
  margin-top: 5px;
}

.exaltedessence .tab.disciplines .resource-value {
  margin-top: 2px;
}

.list-section-header {
  margin-top: 20px;
  border-bottom: 1px solid black;
}

.exaltedessence .cursor-pointer {
  cursor: pointer;
}

.dice-tooltip { 
  display: block !important;
}

.dice-tooltip .dice-rolls .double-success {
  color: #aa0200 !important;
  filter: sepia(0.5) hue-rotate(-160deg) !important;
}

.roll-ability {
  cursor:pointer;
}

.roll-ability:hover {
  text-shadow: 0 0 black;
}

.chat-card {
  font-style: normal;
  font-size: 12px;

  .card-header {
    padding: 3px 0;
    border-top: 2px groove #FFF;
    border-bottom: 2px groove #FFF;

    img {
      flex: 0 0 36px;
      margin-right: 5px;
    }
  }

  .card-content {
    margin: 5px 0;

    h3 {
      font-size: 12px;
      margin: 0;
      font-weight: bold;
    }

    > * {
      -webkit-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
      user-select: text;
    }
  }

  .item-name {
    flex: 1;
    margin: 0;
    line-height: 36px;
    font-family: "Modesto Condensed", "Palatino Linotype", serif;
    font-size: 20px;
    font-weight: 700;
    color: #4b4a44;
  }

  .card-buttons {
    margin: 5px 0;

    span {
      display: block;
      line-height: 28px;
      text-align: center;
    }

    button {
      font-size: 12px;
      height: 24px;
      line-height: 20px;
      margin: 2px 0;
    }
  }

  .card-footer {
    padding: 3px 0 0;
    border-top: 2px groove #FFF;

    span {
      border-right: 2px groove #FFF;
      padding: 0 3px 0 0;
      font-size: 10px;

      &:last-child {
        border-right: none;
        padding-right: 0;
      }
    }
  }
}