<form>
    <div class="sheet-body exaltedessence">
        {{#if data.addingCharms }}
        {{> systems/exaltedessence/templates/dialogues/add-roll-charm.html}}
        {{else}}  
        {{#ifEquals data.rollType 'base'}}
        <div class="flex-center resource-label" style="font-weight: bold;">
            {{localize "ExEss.SocialInfluence"}}
        </div>
        {{/ifEquals}}
        {{#ifEquals data.rollType 'buildPower'}}
        <div class="flex-center resource-label" style="font-weight: bold;">
            {{localize "ExEss.BuildPower"}}
        </div>
        <div class="resource grid grid-2col flex-center">
            <label class="resource-label">{{localize "ExEss.Target"}}: </label>
            <select name="object.buildPowerTarget" value="{{data.buildPowerTarget}}" data-type="String">
                {{#select data.buildPowerTarget}}
                <option value="self">{{localize "ExEss.Self"}}</option>
                <option value="allies">{{localize "ExEss.Allies"}}</option>
                {{/select}}
            </select>
        </div>
        {{/ifEquals}}
        {{> systems/exaltedessence/templates/dialogues/ability-base.html}}
        {{#ifEquals data.rollType 'social'}}
        <div class="resource grid grid-2col flex-center">
            <div>
                <label class="resource-label">{{localize "ExEss.SupportingVirtue"}}</label>
                <select name="object.supportedVirtue" value="{{data.supportedVirtue}}" data-type="String">
                    {{#select data.supportedVirtue}}
                    <option value="0">{{localize "ExEss.None"}}</option>
                    <option value="2">{{localize "ExEss.Minor"}}</option>
                    <option value="3">{{localize "ExEss.Major"}}</option>
                    {{/select}}
                </select>
            </div>
            <div>
                <label class="resource-label">{{localize "ExEss.OpposedVirtue"}} </label>
                <select name="object.opposedVirtue" value="{{data.opposedVirtue}}" data-type="String">
                    {{#select data.opposedVirtue}}
                    <option value="0">{{localize "ExEss.None"}}</option>
                    <option value="2">{{localize "ExEss.Minor"}}</option>
                    <option value="3">{{localize "ExEss.Major"}}</option>
                    {{/select}}
                </select>
            </div>
            <div>
                <label class="resource-label">{{localize "ExEss.SupportingIntimacy"}}</label>
                <select name="object.supportedIntimacy" value="{{data.supportedIntimacy}}" data-type="String">
                    {{#select data.supportedIntimacy}}
                    <option value="0">{{localize "ExEss.None"}}</option>
                    <option value="2">{{localize "ExEss.Minor"}}</option>
                    <option value="3">{{localize "ExEss.Major"}}</option>
                    {{/select}}
                </select>
            </div>
            <div>
                <label class="resource-label">{{localize "ExEss.OpposedIntimacy"}} </label>
                <select name="object.opposedIntimacy" value="{{data.opposedIntimacy}}" data-type="String">
                    {{#select data.opposedIntimacy}}
                    <option value="0">{{localize "ExEss.None"}}</option>
                    <option value="2">{{localize "ExEss.Minor"}}</option>
                    <option value="3">{{localize "ExEss.Major"}}</option>
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="d-flex flex-between mb-1 collapsable cursor-pointer">
            <div class="resource-label">
                Influence Actions (Success Cost)
            </div>
            <div>
                <i class="fas fa-caret-down"></i>
            </div>
        </div>
        <div style="display:none;">
            <p><b>Dissuade(2):</b> Concinve target to stop an action they want to do.  Time duration based on extra successes.</p>
            <p><b>Instill(1):</b> Create minor intimacy.</p>
            <p><b>Persuade(2):</b> Convince target to take an action, must target a vritue or intimacy</p>
            <p><b>Read Intentions(var):</b> Learn something about the target, ammount of info based on success number.</p>
            <p><b>Set Up (2):</b> Lower resolve by 1 against allies next social influence.</p>
            <p><b>Strengthen(2):</b> Strengthen existing intimacy.</p>
            <p><b>Weaken(3):</b> Weaken major intimacy or remove minor intimacy.  Once per scene</p>
        </div>
        <div class="resource flex-center">
            <label class="resource-label">{{localize "ExEss.Resolve"}}</label>
        </div>
        <div class="resource d-flex flex-center mb-1">
            <input type="number" name="object.resolve" value="{{data.resolve}}">
        </div>
        {{/ifEquals}}
        <div class="d-flex">
            <button type="button" id="roll-button">Roll</button>
            <button type="button" id="cancel">Cancel</button>
        </div>
    {{/if}}
    </div>
</form>