{{#ifEquals data.rollType 'base'}}
<label class="resource-label">{{localize "ExEss.Dice"}}</label>
<div class="form-group"><input name="object.dice" value="{{data.dice}}" type="number"></div>
{{else}}
<div class="resource grid grid-4col flex-center">
    {{#ifEquals data.characterType 'character'}}

    <label class="resource-label">{{localize "ExEss.Attribute"}}: </label>
    <select id="attribute-select" name="object.attribute" value="{{data.attribute}}" data-type="String">
        {{selectOptions selects.attributes selected=data.attribute localize=true}}
    </select>

    <label class="resource-label">{{localize "ExEss.Excellency"}}: </label>
    <input class="excellency-check" type="checkbox" name="object.attributeExcellency" {{checked data.attributeExcellency}}>

    <label class="resource-label">{{localize "ExEss.Ability"}}: </label>
    <select name="object.ability" value="{{data.ability}}" data-type="String">
        {{selectOptions selects.abilities selected=data.ability localize=true}}
    </select>

    <label class="resource-label">{{localize "ExEss.Excellency"}}: </label>
    <input class="excellency-check" type="checkbox" name="object.abilityExcellency" {{checked
        data.abilityExcellency}}>

    {{/ifEquals}}


    {{#ifEquals data.characterType 'npc'}}

    <label class="resource-label">{{localize "ExEss.Pool"}}: </label>
    <select name="object.pool" value="{{data.pool}}" data-type="String">
        {{selectOptions selects.pools selected=data.pool localize=true}}
    </select>

    <label class="resource-label">{{localize "ExEss.Excellency"}}: </label>
    <input class="excellency-check" type="checkbox" name="object.poolExcellency" {{checked data.poolExcellency}}>

    {{/ifEquals}}
</div>
{{/ifEquals}}


{{#ifEquals data.rollType 'base'}}
<label class="resource-label">{{localize "ExEss.Successes"}}</label>
<div class="form-group"><input name="object.successModifier" value="{{data.successModifier}}" type="number"></div>
{{else}}
<div class="resource grid grid-2col flex-center">
    <div>
        <label class="resource-label">{{localize "ExEss.DiceModifier"}} </label>
        <input name="object.diceModifier" value="{{data.diceModifier}}" type="number">
    </div>
    <div>
        <label class="resource-label">{{localize "ExEss.SuccessModifier"}} </label>
        <input name="object.successModifier" value="{{data.successModifier}}" type="number">
    </div>
</div>
{{/ifEquals}}

<div class="resource grid grid-2col flex-center">
    <div>
        <label class="resource-label">{{localize "ExEss.DoubleSuccess"}} </label>
        <input name="object.doubleSuccess" value="{{data.doubleSuccess}}" type="number">
    </div>
    <div>
        <label class="resource-label">{{localize "ExEss.TargetNumber"}} </label>
        <input name="object.targetNumber" value="{{data.targetNumber}}" type="number">
    </div>
</div>

<div class="d-flex flex-between mb-1 collapsable cursor-pointer">
    <div class="resource-label">
        {{localize "ExEss.OtherModifiers"}}
    </div>
    <div>
        <i class="fas fa-caret-down"></i>
    </div>
</div>
<div style="display:none;">
    <div class="resource grid grid-2col flex-center">
        <label class="resource-label">{{localize "ExEss.RerollNumDice"}} </label>
        <input type="number" name="object.rerollNumber" value="{{data.rerollNumber}}">
        <label class="resource-label">{{localize "ExEss.DicetoSuccesses"}} </label>
        <input type="number" name="object.diceToSuccesses" value="{{data.diceToSuccesses}}">
        <label class="resource-label">{{localize "ExEss.RerollFailed"}}: </label>
        <input type="checkbox" name="object.rerollFailed" {{checked data.rerollFailed}}>
        <label class="resource-label">{{localize "ExEss.RollTwiceKeepHighest"}}: </label>
        <input type="checkbox" name="object.rollTwice" {{checked data.rollTwice}}>
    </div>
    <div class="resource flex-center">
        <label class="resource-label">{{localize "ExEss.Reroll"}}</label>
    </div>
    <div class="resource d-flex flex-center">
        <div>
            <div>1</div>
            <input name="object.reroll.one.status" type="checkbox" {{checked data.reroll.one.status}}>
        </div>
        <div>
            <div>2</div>
            <input name="object.reroll.two.status" type="checkbox" {{checked data.reroll.two.status}}>
        </div>
        <div>
            <div>3</div>
            <input name="object.reroll.three.status" type="checkbox" {{checked data.reroll.three.status}}>
        </div>
        <div>
            <div>4</div>
            <input name="object.reroll.four.status" type="checkbox" {{checked data.reroll.four.status}}>
        </div>
        <div>
            <div>5</div>
            <input name="object.reroll.five.status" type="checkbox" {{checked data.reroll.five.status}}>
        </div>
        <div>
            <div>6</div>
            <input name="object.reroll.six.status" type="checkbox" {{checked data.reroll.six.status}}>
        </div>
        <div>
            <div>7</div>
            <input name="object.reroll.seven.status" type="checkbox" {{checked data.reroll.seven.status}}>
        </div>
        <div>
            <div>8</div>
            <input name="object.reroll.eight.status" type="checkbox" {{checked data.reroll.eight.status}}>
        </div>
        <div>
            <div>9</div>
            <input name="object.reroll.nine.status" type="checkbox" {{checked data.reroll.nine.status}}>
        </div>
        <div>
            <div>10</div>
            <input name="object.reroll.ten.status" type="checkbox" {{checked data.reroll.ten.status}}>
        </div>
    </div>
</div>

{{#ifNotEquals data.rollType 'base'}}
{{> systems/exaltedessence/templates/dialogues/added-charm-list.html}}
<div class="d-flex flex-between mb-1 collapsable cursor-pointer">
    <div class="resource-label">
        {{localize "ExEss.Effects"}}
    </div>
    <div>
        <i class="fas fa-caret-down"></i>
    </div>
</div>
<div style="display:none;">
    {{#each data.conditions as |condition key|}}
    <div>
        {{condition.name}}
    </div>
    {{/each}}
    <div>
        {{#if data.getimianflow}}
        <div>
            Getimian Flow (+1 Success)
        </div>
        {{/if}}
        {{#if data.augmentattribute}}
        <div>
            Augmented Attribute
        </div>
        {{/if}}
    </div>
</div>
<div class="resource grid grid-4col flex-center">
    <label class="resource-label">{{localize "ExEss.Stunt"}}: </label>
    <input type="checkbox" name="object.stunt" {{checked data.stunt}}>

    <label class="resource-label">{{localize "ExEss.WoundPenalty"}}: </label>
    <input type="checkbox" name="object.woundPenalty" {{checked data.woundPenalty}}>

    <label class="resource-label">{{localize "ExEss.Flurry"}}: </label>
    <input type="checkbox" name="object.flurry" {{checked data.flurry}}>

    <label class="resource-label">{{localize "ExEss.ArmorPenalty"}}: </label>
    <input type="checkbox" name="object.armorPenalty" {{checked data.armorPenalty}}>

    {{#ifEquals actor.system.details.exalt 'dragonblooded'}}
    <div class="resource-label">{{localize "ExEss.ActivateAura"}}</div>
    <select name="object.activateAura" data-type="String">
        {{selectOptions selects.elements selected=data.activateAura localize=true}}
    </select>
    {{/ifEquals}}
</div>
{{/ifNotEquals}}