{{#ifEquals data.rollType 'base'}}
<label class="resource-label">{{localize "ExEss.Dice"}}</label>
<div class="form-group"><input name="object.dice" value="{{data.dice}}" type="number"></div>
{{else}}
<div class="resource grid grid-4col flex-center">
    {{#ifEquals data.characterType 'character'}}

    <label class="resource-label">{{localize "ExEss.Attribute"}}: </label>
    <select name="object.attribute" value="{{data.attribute}}" data-type="String">
        {{#select data.attribute}}
        <option value="force">{{localize "ExEss.Force"}}</option>
        <option value="finesse">{{localize "ExEss.Finesse"}}</option>
        <option value="fortitude">{{localize "ExEss.Fortitude"}}</option>
        {{/select}}
    </select>

    <label class="resource-label">{{localize "ExEss.Excellency"}}: </label>
    <input type="checkbox" name="object.attributeExcellency" value="{{data.attributeExcellency}}">

    <label class="resource-label">{{localize "ExEss.Ability"}}: </label>
    <select name="object.ability" value="{{data.ability}}" data-type="String">
        {{#select data.ability}}
        <option value="athletics">{{localize "ExEss.Athletics"}}</option>
        <option value="awareness">{{localize "ExEss.Awareness"}}</option>
        <option value="close">{{localize "ExEss.CloseCombat"}}</option>
        <option value="craft">{{localize "ExEss.Craft"}}</option>
        <option value="embassy">{{localize "ExEss.Embassy"}}</option>
        <option value="integrity">{{localize "ExEss.Integrity"}}</option>
        <option value="navigate">{{localize "ExEss.Navigate"}}</option>
        <option value="performance">{{localize "ExEss.Performance"}}</option>
        <option value="physique">{{localize "ExEss.Physique"}}</option>
        <option value="presence">{{localize "ExEss.Presence"}}</option>
        <option value="ranged">{{localize "ExEss.RangedCombat"}}</option>
        <option value="sagacity">{{localize "ExEss.Sagacity"}}</option>
        <option value="stealth">{{localize "ExEss.Stealth"}}</option>
        <option value="war">{{localize "ExEss.War"}}</option>
        <option value="martial">{{localize "ExEss.MartialArts"}}</option>
        {{/select}}
    </select>

    <label class="resource-label">{{localize "ExEss.Excellency"}}: </label>
    <input type="checkbox" name="object.abilityExcellency" value="{{data.abilityExcellency}}">

    {{/ifEquals}}


    {{#ifEquals data.characterType 'npc'}}

    <label class="resource-label">{{localize "ExEss.Pool"}}: </label>
    <select name="object.pool" value="{{data.pool}}" data-type="String">
        {{#select data.pool}}
        <option value="primary">{{localize "ExEss.Primary"}}</option>
        <option value="secondary">{{localize "ExEss.Secondary"}}</option>
        <option value="tertiary">{{localize "ExEss.Tertiary"}}</option>
        {{/select}}
    </select>

    <label class="resource-label">{{localize "ExEss.Excellency"}}: </label>
    <input type="checkbox" name="object.poolExcellency" value="{{data.poolExcellency}}">

    {{/ifEquals}}
</div>
{{/ifEquals}}


{{#ifEquals data.rollType 'base'}}
<label class="resource-label">{{localize "ExEss.Successes"}}</label>
<div class="form-group"><input name="object.successModifier" value="{{data.successModifier}}" type="number"></div>
{{else}}
<div class="resource grid grid-2col flex-center">
    <div>
        <label class="resource-label">{{localize "ExEss.DiceModifier"}} </label>
        <input name="object.diceModifier" value="{{data.diceModifier}}" type="number">
    </div>
    <div>
        <label class="resource-label">{{localize "ExEss.SuccessModifier"}} </label>
        <input name="object.successModifier" value="{{data.successModifier}}" type="number">
    </div>
</div>
{{/ifEquals}}

<div class="resource grid grid-2col flex-center">
    <div>
        <label class="resource-label">{{localize "ExEss.DoubleSuccess"}} </label>
        <input name="object.doubleSuccess" value="{{data.doubleSuccess}}" type="number">
    </div>
    <div>
        <label class="resource-label">{{localize "ExEss.TargetNumber"}} </label>
        <input name="object.targetNumber" value="{{data.targetNumber}}" type="number">
    </div>
</div>

<div class="d-flex flex-between mb-1 collapsable cursor-pointer">
    <div class="resource-label">
        Other Modifiers
    </div>
    <div>
        <i class="fas fa-caret-down"></i>
    </div>
</div>
<div style="display:none;">
    <div class="resource grid grid-2col flex-center">
        <label class="resource-label">{{localize "ExEss.RerollNumDice"}} </label>
        <input type="number" name="object.rerollNumber" value="{{data.rerollNumber}}">
        <label class="resource-label">{{localize "ExEss.RerollFailed"}}: </label>
        <input type="checkbox" name="object.rerollFailed" value="{{data.rerollFailed}}">
    </div>
    <div class="resource flex-center">
        <label class="resource-label">{{localize "ExEss.Reroll"}}</label>
    </div>
    <div class="resource d-flex flex-center">
        <div>
            <div>1</div>
            <input name="object.reroll.one.status" type="checkbox">
        </div>
        <div>
            <div>2</div>
            <input name="object.reroll.two.status" type="checkbox">
        </div>
        <div>
            <div>3</div>
            <input name="object.reroll.three.status" type="checkbox">
        </div>
        <div>
            <div>4</div>
            <input name="object.reroll.four.status" type="checkbox">
        </div>
        <div>
            <div>5</div>
            <input name="object.reroll.five.status" type="checkbox">
        </div>
        <div>
            <div>6</div>
            <input name="object.reroll.six.status" type="checkbox">
        </div>
        <div>
            <div>7</div>
            <input name="object.reroll.seven.status" type="checkbox">
        </div>
        <div>
            <div>8</div>
            <input name="object.reroll.eight.status" type="checkbox">
        </div>
        <div>
            <div>9</div>
            <input name="object.reroll.nine.status" type="checkbox">
        </div>
        <div>
            <div>10</div>
            <input name="object.reroll.ten.status" type="checkbox">
        </div>
    </div>
</div>



{{#ifEquals data.rollType 'base'}}

{{else}}
<div class="resource grid grid-4col flex-center">
    <label class="resource-label">{{localize "ExEss.Stunt"}}: </label>
    <input type="checkbox" name="object.stunt" value="{{data.stunt}}" {{checked data.stunt}}>

    <label class="resource-label">{{localize "ExEss.WoundPenalty"}}: </label>
    <input type="checkbox" name="object.woundPenalty" value="{{data.woundPenalty}}">

    <label class="resource-label">{{localize "ExEss.Flurry"}}: </label>
    <input type="checkbox"name="object.flurry" value="{{data.flurry}}"">

    <label class="resource-label">{{localize "ExEss.ArmorPenalty"}}: </label>
    <input type="checkbox" name="object.armorPenalty" value="{{data.armorPenalty}}">
</div>
{{/ifEquals}}