<form>
    <div class="sheet-body exaltedessence">
        <div class="flex-center resource-label" style="font-weight: bold;">
            Accuracy
        </div>
        <div>
            {{> systems/exaltedessence/templates/dialogues/ability-base.html}}
            <div class="resource flex-center mb-2">
                <div>
                    <label class="resource-label">{{localize "ExEss.Accuracy"}} </label>
                    <input type="number" id="accuracy" name="data.rollable" value="{{weapon-accuracy}}">
                </div>
            </div>
        </div>
    </div>
</form>