<form>
    <div class="sheet-body exaltedessence" style="margin-bottom:10px;">
        <div class="flex-center">
            <label class="resource-label">{{localize "ExEss.Health"}}</label>
            <div class="d-flex flex-center resources">
            <div>
                <div>-0</div>
                <input id="zero" type="number" value="{{zero}}" data-dtype="Number" />
            </div>
            <div>
                <div>-1</div>
                <input id="one" type="number" value="{{one}}" data-dtype="Number" />
            </div>
            <div>
                <div>-2</div>
                <input id="two" type="number" value="{{two}}" data-dtype="Number" />
            </div>
              </div>
        </div>
    </div>
</form>