<div>
    <p>Select various stylings.</p>
    <div>
        Exalts
    </div>
    <div style="background-color:#F9B516;user-select:text;">
        Solar Gold: #F9B516
    </div>
    <div style="background-color:#A9A9AB;user-select:text;">
        Lunar Silver: #A9A9AB
    </div>
    <div style="background-color:#000000;user-select:text;color:white;">
        Abyssal Black: #000000
    </div>
    <div style="background-color:#00FF00;user-select:text;">
        Infernal Green: #00FF00
    </div>
    <div style="padding-top: 10px;padding-bottom:10px;">
        Dragonblooded
    </div>
    <div style="background-color:#B62723;user-select:text;">
        Fire Red: #B62723
    </div>
    <div style="background-color:#FBFAF5;user-select:text;">
        Earth White: #FBFAF5
    </div>
    <div style="background-color:#131514;color:white;user-select:text;">
        Water Black: #131514
    </div>
    <div style="background-color:#538397;user-select:text;">
        Air Blue: #538397
    </div>
    <div style="background-color:#50CA5B;user-select:text;">
        Wood Green: #50CA5B
    </div>
    <div style="padding-top: 10px;padding-bottom:10px;">
        Sidereals
    </div>
    <div style="background-color:#086F2A;user-select:text;color:white;">
        Secrets Green: #086F2A
    </div>
    <div style="background-color:#FFFF00;user-select:text;">
        Journeys Yellow: #FFFF00
    </div>
    <div style="background-color:#e14d4c;user-select:text;">
        Battles Red: #E14D4C
    </div>
    <div style="background-color:#707ac7;user-select:text;">
        Serenity Blue: #707AC7
    </div>
    <div style="background-color:#ac91ac;user-select:text;">
        Endings Violet: #AC91AC
    </div>
    <div style="padding-top: 10px;padding-bottom:10px;">
        Getimians
    </div>
    <div style="background-color:#EFABBA;user-select:text;">
        Spring Blossom: #EFABBA
    </div>
    <div style="background-color:#C6F5BE;user-select:text;">
        Summer Green: #C6F5BE
    </div>
    <div style="background-color:#E09474;user-select:text;">
        Autumn Orange: #E09474
    </div>
    <div style="background-color:#ADAFBB;user-select:text;">
        Winter Grey: #ADAFBB
    </div>
    <div style="padding-top: 10px;padding-bottom:10px;">
        Liminals
    </div>
    <div style="background-color:#8a0303;user-select:text;color:white;">
        Blood : #8A0303
    </div>
    <div style="background-color:#afeeee;user-select:text;">
        Breath: #AFEEEE
    </div>
    <div style="background-color:#ffe9d1;user-select:text;">
        Flesh: #FFE9D1
    </div>
    <div style="background-color:#889988;user-select:text;">
        Marrow: #889988
    </div>
    <div style="background-color:#836539;user-select:text;">
        Soil: #836539
    </div>
    <div style="padding-top: 10px;padding-bottom:10px;">
        Alchemicals
    </div>
    <div style="background-color:#ffe56d;user-select:text;">
        Orichalcum : #FFE56D
    </div>
    <div style="background-color:#bfe6f6;user-select:text;">
        Moonsilver: #BFE6f6
    </div>
    <div style="background-color:#cbbce1;user-select:text;">
        Starmetal: #CBBCE1
    </div>
    <div style="background-color:#9a0102;user-select:text;color:white;">
        Jade: #9A0102
    </div>
    <div style="background-color:#292927;user-select:text;color:white;">
        Soulsteel: #292927
    </div>
    <div style="background-color:#01a3dc;user-select:text;">
        Adamant: #01A3DC
    </div>
    <p><b>{{localize "ExEss.DotColor"}}</b></p>
    <div class="sheet-body">
        <!-- <div class="form-group"><input id="color" type="text" value="{{color}}"></div> -->
        <color-picker id="color" name="color" value="{{color}}" placeholder="#ffffff"></color-picker>
    </div>
    <p><b>{{localize "ExEss.AnimaColor"}}</b></p>
    <div class="sheet-body">
        <color-picker id="animaColor" name="animaColor" value="{{animaColor}}" placeholder="#ffffff"></color-picker>

    </div>
    <p><b>{{localize "ExEss.InitiativeIconColor"}}</b></p>
    <div class="sheet-body">
        <color-picker id="initiativeIconColor" name="initiativeIconColor" value="{{initiativeIconColor}}" placeholder="#ffffff"></color-picker>
    </div>
    <p><b>{{localize "ExEss.InitiativeIcon"}}</b></p>
    <div class="sheet-body">
        <div class="form-group"><input id="initiativeIcon" type="text" value="{{initiativeIcon}}"></div>
    </div>
</div>