<form>
    <div class="sheet-body exaltedessence">
        <div class="resource flex-center {{#if decisive}} grid-2col {{/if}} mb-2">
            <div>
                <label class="resource-label">{{localize "ExEss.Successes"}} </label>
                <input id="successes" type="number" value="{{successes}}">
            </div>
            {{#ifEquals data.rollType 'gambit'}}
            <div>
                <label class="resource-label">{{localize "ExEss.PowerSpent"}} </label>
                <input id="power-spent" type="number">
            </div>
            {{/ifEquals}}
            {{#ifEquals data.rollType 'decisive'}}
            <div>
                <label class="resource-label">{{localize "ExEss.Power"}} </label>
                <input id="power" type="number" value="{{power}}">
            </div>
            {{/ifEquals}}
        </div>
        {{#ifEquals data.rollType 'decisive'}}
        <div class="flex-center resource-label" style="font-weight: bold;">
                Damage
            </div>
            <div>
                <div class="resource grid grid-2col flex-center">
                    <div>
                        <label class="resource-label">{{localize "ExEss.DamageDice"}} </label>
                        <input id="damage-dice" type="number">
                    </div>
                    <div>
                        <label class="resource-label">{{localize "ExEss.DamageSuccesses"}} </label>
                        <input id="damage-successes" type="number">
                    </div>
                </div>
                <div class="resource grid grid-2col flex-center">
                    <div>
                        <label class="resource-label">{{localize "ExEss.DoubleSuccess"}} </label>
                        <input name="object.doubleSuccess" value="{{data.doubleSuccess}}" type="number">
                    </div>
                    <div>
                        <label class="resource-label">{{localize "ExEss.TargetNumber"}} </label>
                        <input name="object.targetNumber" value="{{data.targetNumber}}" type="number">
                    </div>
                </div>
            </div>
            {{/ifEquals}}

        <div class="flex-center resource-label" style="font-weight: bold;">
            Defender
        </div>
        <div class="resource {{#ifEquals data.rollType 'decisive'}} grid-2col {{/ifEquals}} flex-center mb-2">
            <div>
                <div class="flex-center resource-label">
                    {{localize "ExEss.Defense"}}
                </div>
                <input placeholder="Defence" id="defence" type="number" value="{{defense}}">
            </div>
            {{#ifEquals data.rollType 'decisive'}}
            <div>
                <div class="flex-center resource-label">
                    {{localize "ExEss.Soak"}}
                </div>
                <input placeholder="Soak" id="soak" type="number" value="{{soak}}">
            </div>
            {{/ifEquals}}
        </div>
        <div class="d-flex flex-between mb-1 collapsable cursor-pointer">
            <div class="resource-label">
                Other Modifiers
            </div>
            <div>
                <i class="fas fa-caret-down"></i>
            </div>
        </div>
        <div style="display:none;">
            <label class="check-button" style="align-items:center;display:flex;">
                <input id="double-extra-success" name="double-extra-success" type="checkbox">
                <span class="resource-label">Double Extra Successes</span>
            </label>
        </div>
    </div>
</form>