<form>
    <div class="sheet-body exaltedessence">
        <div class="resource flex-center grid-2col mb-2">
            <div>
                <label class="resource-label">{{localize "ExEss.Successes"}} </label>
                <input name="object.accuracyResult" value="{{data.accuracyResult}}" type="number">
            </div>
            {{#ifEquals data.rollType 'gambit'}}
            <div>
                <label class="resource-label">{{localize "ExEss.PowerSpent"}} </label>
                <input name="object.powerSpent" value="{{data.powerSpent}}" type="number">
            </div>
            {{/ifEquals}}
            {{#ifEquals data.rollType 'decisive'}}
            <div>
                <label class="resource-label">{{localize "ExEss.Power"}} </label>
                <input name="object.power" value="{{data.power}}" type="number">
            </div>
            {{/ifEquals}}
            {{#ifEquals data.rollType 'withering'}}
            <div>
                <label class="resource-label">{{localize "ExEss.Overwhelming"}} </label>
                <input name="object.overwhelming" value="{{data.overwhelming}}" type="number">
            </div>
            {{/ifEquals}}
        </div>
        {{#ifEquals data.rollType 'decisive'}}
        <div class="flex-center resource-label" style="font-weight: bold;">
            Damage
        </div>
        <div>
            <div class="resource grid grid-2col flex-center">
                <div>
                    <label class="resource-label">{{localize "ExEss.DamageDice"}} </label>
                    <input name="object.damage.damageDice" value="{{data.damage.damageDice}}" type="number">
                </div>
                <div>
                    <label class="resource-label">{{localize "ExEss.DamageSuccesses"}} </label>
                    <input name="object.damage.damageSuccessModifier" value="{{data.damage.damageSuccessModifier}}"
                        type="number">
                </div>
            </div>
            <div class="resource grid grid-2col flex-center">
                <div>
                    <label class="resource-label">{{localize "ExEss.DoubleSuccess"}} </label>
                    <input name="object.damage.doubleSuccess" value="{{data.damage.doubleSuccess}}" type="number">
                </div>
                <div>
                    <label class="resource-label">{{localize "ExEss.TargetNumber"}} </label>
                    <input name="object.damage.targetNumber" value="{{data.damage.targetNumber}}" type="number">
                </div>
            </div>
        </div>
        {{/ifEquals}}

        <div class="flex-center resource-label" style="font-weight: bold;">
            Defender
        </div>
        <div class="resource {{#ifEquals data.rollType 'decisive'}} grid-2col {{/ifEquals}} flex-center mb-2">
            <div>
                <div class="flex-center resource-label">
                    {{localize "ExEss.Defense"}}
                </div>
                <input name="object.defense" value="{{data.defense}}" type="number">
            </div>
            {{#ifEquals data.rollType 'decisive'}}
            <div>
                <div class="flex-center resource-label">
                    {{localize "ExEss.Soak"}}
                </div>
                <input name="object.soak" value="{{data.soak}}" type="number">
            </div>
            {{/ifEquals}}
        </div>
        <div class="d-flex flex-between mb-1 collapsable cursor-pointer">
            <div class="resource-label">
                Other Modifiers
            </div>
            <div>
                <i class="fas fa-caret-down"></i>
            </div>
        </div>
        <div style="display:none;">
            <label class="check-button" style="align-items:center;display:flex;">
            </label>
            <div class="resource flex-center grid grid-2col">
                <span class="resource-label">Double Extra Successes</span>
                <input name="object.damage.doubleExtraSuccess" value="{{data.damage.doubleExtraSuccess}}"
                    type="checkbox" {{checked data.damage.doubleExtraSuccess}}>
                {{#ifEquals data.rollType 'decisive'}}
                <label class="resource-label">{{localize "ExEss.DamageType"}}</label>
                <select name="object.damage.type" value="{{data.damage.type}}" data-type="String">
                    {{#select data.damage.type}}
                    <option value="lethal">{{localize "ExEss.Lethal"}}</option>
                    <option value="aggravated">{{localize "ExEss.Aggravated"}}</option>
                    {{/select}}
                </select>
                {{/ifEquals}}
            </div>
        </div>
    </div>
</form>