<form>
    <p>Enter a number of dice to roll.</p>
    <div class="sheet-body">
        <div class="form-group"><input id="num" type="num"></div>
        <div class="resource grid grid-4col flex-center">
            <label class="check-button" style="align-items:center;display:flex;">
                <input id="double-none" name="double-sevens" type="checkbox">
                <span>Db 7+s</span>
            </label>
            <label class="check-button" style="align-items:center;display:flex;">
                <input id="double-eights" name="double-eights" type="checkbox">
                <span>Db 8+s</span>
            </label>
            <label class="check-button" style="align-items:center;display:flex;">
                <input id="double-nines" name="double-nines" type="checkbox">
                <span>Db 9+s</span>
            </label>
            <label class="check-button" style="align-items:center;display:flex;">
                <input id="double-tens" name="double-tens" type="checkbox" checked>
                <span>Db 10s</span>
            </label>
        </div>
    </div>
</form>