<div>
    <p>
        <b>Characters</b>
    </p>
    <p>
        -Getimian pool bonuses to attributes are calculated automatically
    </p>
    <p>
        -Augment attribute (gear symbol next to attribute name) is calculated automatically for Alchemicals
    </p>
    <p>
        -Targeting tokens (Double right click for players) will automatically set defense/resolve/soak values for social influence and attacks
    </p>
    <p>
        -Onslaught penalties to hardness are auto calculated on withering attacks and removed on decisive attack.
    </p>
    <p>
        -Spending motes will automatically raise anima.  Increasing committed motes will spend motes (doesn't work for getimians)
    </p>
    <p>
        -Build Power and Focus Will actions will automatically add power and will to the correct pools.
    </p>
    <p>
        -The "Spend Charm" icon on charms will deduct the costs from the appropriate pools.  Will increase committed by the ammount listed
    </p>
    <p>
        <b>NPCs</b>
    </p>
    <p>
        -Drill bonus to damage/accuracy and size bonus to Overwhelming is calculated automatically for Battlegroups
    </p>
</div>