<div class="exaltedessence" style="overflow:hidden">
  <div class="item-filter">
    <div class="check-button">
      <label class="resource-label">{{localize "ExEss.IncludeWorldItems"}}: </label>
      <input class="world-filter" type="checkbox" data-filter="worldItems" {{checked filters.attribute.worldItems}} />
    </div>
    <h2>{{localize "ExEss.Types"}}</h2>
    <div class="check-button">
      {{#each filters.type as |value filter|}}
      <label class="resource-label">{{localize value.display}}:</label>
      <input class="filter" type="checkbox" data-filter="{{filter}}" {{checked value.value}} />
      {{/each}}
    </div>

    <h2>{{localize "ExEss.Filter"}}</h2>

    <div class="name filter-top">
      <label class="resource-label">{{localize "Name"}}</label>
      <input class="name-filter" type="text" data-filter="name" value="{{filters.attribute.name}}" />
    </div>
    <div class="description filter-top">
      <label class="resource-label">{{localize "Description"}}</label>
      <input class="description-filter" type="text" data-filter="description"
        value="{{filters.attribute.description}}" />
    </div>
    <h2>{{localize "ExEss.CharmFilters"}}</h2>
    <div>
      <label class="resource-label">{{localize "ExEss.Ability"}}: </label>
      <select class="charm-filter" name="filters.attribute.charmFilters.ability" data-type="String"
        data-filter="ability">
        {{selectOptions selects.charmAbilities selected=filters.attribute.charmFilters.ability localize=true blank=""}}
      </select>
      <label class="resource-label">{{localize "ExEss.Requirement"}}: </label>
      <select class="charm-filter" name="filters.attribute.charmFilters.requirement" data-type="String"
        data-filter="requirement">
        {{selectOptions selects.abilityRequirementLevels selected=filters.attribute.charmFilters.requirement localize=true blank=""}}
      </select>
      <label class="resource-label">{{localize "ExEss.Essence"}}: </label>
      <select class="charm-filter" name="filters.attribute.charmFilters.essence" data-type="String"
        data-filter="essence">
        {{selectOptions selects.abilityRequirementLevels selected=filters.attribute.charmFilters.essence localize=true blank=""}}
      </select>
      <label class="resource-label">{{localize "ExEss.CharmType"}}:</label>
      <select class="charm-filter" name="filters.attribute.charmFilters.charmtype" data-type="String"
        data-filter="charmtype">
        {{selectOptions selects.exaltCharmTypes selected=filters.attribute.charmFilters.charmtype localize=true blank=""}}
      </select>
    </div>
  </div>
  <h2 class="mb-1">{{localize "ExEss.ItemList"}}</h2>
  <div class="query-results">
    {{#each items as |item|}}
    <div class="search-item-row item-row cursor-pointer" data-item-id={{item.id}} data-filter-id={{item.filterId}}>
      <div class="item-image mr-1"><img class="list-item-image" src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
      <div class="item-name">{{item.name}}</div>
    </div>
    {{/each}}
  </div>
</div>