<div class="exaltedessence">
    <div>
      Copy and paste charms
    </div>
    <!-- <div class="mb-2 mt-2">
      <input class="radio" id="charm-radio" type="radio" name="type" value="charm" data-dtype="String" value="{{type}}"
        {{#ifEquals type 'charm' }} checked {{/ifEquals}} />
      <label for="charm-radio">{{ localize "ExEss.Charm"}}</label>
      <input class="radio" id="qc-radio" type="radio" name="type" value="qc" data-dtype="String" value="{{type}}"
        {{#ifEquals type 'qc' }} checked {{/ifEquals}} />
        <label for="qc-radio">{{ localize "ExEss.QuickCharacter"}}</label>
    </div> -->
    {{#if showError}}
    <div class="mb-2" style="color:red;">
      Failed on section: {{errorSection}} 
    </div>
    {{/if}}

    <div class="resource grid grid-2col flex-center">
      <div>
        <div class="resource-label">{{localize "ExEss.Folder"}}</div>
        <select id="folder" name="folder" value="{{folder}}" data-type="String">
            {{selectOptions folders selected=folder localize=true}}
        </select>
      </div>
      {{#ifEquals type 'charm'}}
      <div>
        <div class="resource-label">{{localize "ExEss.CharmType"}}</div>
        <select id="charmType" name="charmType" value="{{charmType}}" data-type="String">
            {{selectOptions selects.exaltCharmTypes selected=charmType localize=true}}
        </select>
      </div>
      {{/ifEquals}}
  
    </div>

    <label class="resource-label">{{ localize "ExEss.Template"}}</label>
    <textarea name="textBox" type="text" id="template-text" rows="40" placeholder='{{templateHint}}'>{{textBox}}</textarea>
</div>