<div>
    <p><b>Artifact</b>: +1 to Accuracy, Damage, Defense, Overwhelming.  +1 Soak and Hardndess on armor.  +1 Weapon Tag</p>
    <p><b>Balanced</b>: +1 Overwhelming. +2 Dice on gambits</p> 
    <p><b>Chopping</b>: Enables chopping attacks (Wielder suffers -1 defense, gain +2 bonus dice on withering or -1 Enemy Hardness on decisive)</p>
    <p><b>Concealable</b>: Weapon can be concealed with a diff 1 Stealth roll.</p>
    <p><b>Defensive</b>: Increase defense when Defending Other or Full Defense by 1.</p>
    <p><b>Disarming</b>: The melee weapon reduces the Power cost by one for disarm gambits.</p>
    <p><b>Flame</b>: Set things on fire, Deal +1 damage but limited to medium range.</p>
    <p><b>Flexible</b>: Ignores bonus from cover. Flexible weapons reduce the cost of the ensnare gambit by one to a minimum of one.</p>
    <p><b>Improvised</b>: -2 Accuracy (Min 0)</p>
    <p><b>Mounted</b>: +2 dice to attacks while mounted.</p>
    <p><b>Natural</b>: Cannot be lost or stolen.</p>
    <p><b>Worn</b>: Increase the cost of the Disarm gambit by one.</p>
    <p><b>Off-Hand</b>: Bonuses do not stack with other weapons, Attacks only suffer -1 penalty for making flurries.</p>
    <p><b>One-Handed</b>: Can be used one handed.</p>
    <p><b>Paired</b>: Withering attacks gain +1 power.</p>
    <p><b>Piercing</b>: Can make piercing attacks (Wielder suffers -1 defense, Reduce enemies soak by 2).</p>
    <p><b>Pulling</b>: Can make ranged attacks with Physique,  Allow use to use the Pull gambit as a ranged attack.</p>
    <p><b>Chopping</b>: Enables point blank attacks (Wielder suffers -1 defense, gain +2 bonus dice on withering or -1 Enemy Hardness on decisive)</p>
    <p><b>Reaching</b>: Remove penalty for Enormous size and attacking mounted opponents.</p>
    <p><b>Shield</b>: User may flurry full defense actions. Shields have -1 Damage (Min 0).</p>
    <p><b>Smashing</b>: Reduce the cost of Knockback and Knockdown gambits by 1 (Min 1).</p>
    <p><b>Two-Handed</b>: Wielded with 2 hands, Two-handed weapons have +1 Damage.  Heavy weapons have overwhelming +1</p>
</div>