<div>
    <p><b>Artifact</b>: +1 to accuracy or damage.</p>
    <p><b>Balanced</b>: +1 Overwhelming.</p> 
    <p><b>Chopping</b>: Enables chopping attacks (Wielder suffers -1 defense, gain +3 bonus dice on withering or -2 Enemy Hardness on attack)</p>
    <p><b>Concealable</b>: Weapon can be concealed with a diff 1 Stealth roll.</p>
    <p><b>Defensive</b>: Increase defense when Defending Other or Full Defense by 1.</p>
    <p><b>Disarming</b>: The melee weapon reduces the Power cost by one for disarm gambits.</p>
    <p><b>Flame</b>: Set things on fire, Deal +1 damage at close range.</p>
    <p><b>Flexible</b>: Ignores bonus from Full Defense. Flexible weapons reduce the cost of the ensnare gambit by one to a minimum of one.</p>
    <p><b>Improvised</b>: -2 Accuracy.</p>
    <p><b>Melee</b>: This weapon uses the Close Combat Ability to make attacks.</p>
    <p><b>Mounted</b>: The ranged weapon can be used while mounted on a steed.</p>
    <p><b>Natural</b>: Cannot be lost or stolen.</p>
    <p><b>Worn</b>: Increase the cost of the Disarm gambit by one.</p>
    <p><b>Off-Hand</b>: Has no accuracy/bonus, Attacks only suffer -1 penalty for making flurries.</p>
    <p><b>One-Handed</b>: Can be used one handed.</p>
    <p><b>Paired</b>: Withering attacks gain +1 power.</p>
    <p><b>Piercing</b>: Can make piercing attacks (Wielder suffers -1 defense, Reduce enemies soak by 2).</p>
    <p><b>Pulling</b>: Can make ranged attacks with Physique,  Allow use to use the Pull gambit as a ranged attack.</p>
    <p><b>Powerful</b>: Powerful ranged weapons deal damage like a heavy melee weapon at close range.</p>
    <p><b>Ranged</b>: Uses Ranged Combat. Attacking a target in a closer range band than the listed range gives +1 Accuracy.</p>
    <p><b>Reaching</b>: Remove penalty for Enormous size and attacking mounted opponents.</p>
    <p><b>Shield</b>: User may flurry full defense actions. Shields have -1 Damage (Min 0).</p>
    <p><b>Smashing</b>: Reduce the cost of Knockback and Knockdown gambits by 1 (Min 1).</p>
    <p><b>Thrown</b>: Can be used with either ranged or close combat. Attacking a target in a closer Range band than the listed range grants +3 Accuracy.</p>
    <p><b>Two-Handed</b>: Wielded with 2 hands, Two-handed weapons have +1 Damage.</p>
</div>