<section class="tab flex-center {{tab.cssClass}} {{hideElement}}" data-group="primary" data-tab="social">
    <div class="resource grid grid-2col">
        <div>
            <div class="resource separator">
                <label class="resource-label">{{localize "ExEss.Modifiers"}}</label>
            </div>
            <div class="resource grid grid-2col flex-center">
                <div>
                    <label class="resource-label">{{localize "ExEss.SupportingVirtue"}}</label>
                    <select name="object.supportedVirtue" value="{{data.supportedVirtue}}" data-type="String">
                        {{selectOptions selects.intimacyLevels selected=data.supportedVirtue localize=true}}
                    </select>
                </div>
                <div>
                    <label class="resource-label">{{localize "ExEss.OpposedVirtue"}} </label>
                    <select name="object.opposedVirtue" value="{{data.opposedVirtue}}" data-type="String">
                        {{selectOptions selects.intimacyLevels selected=data.opposedVirtue localize=true}}
    
                    </select>
                </div>
                <div>
                    <label class="resource-label">{{localize "ExEss.SupportingIntimacy"}}</label>
                    <select name="object.supportedIntimacy" value="{{data.supportedIntimacy}}" data-type="String">
                        {{selectOptions selects.intimacyLevels selected=data.supportedIntimacy localize=true}}
                    </select>
                </div>
                <div>
                    <label class="resource-label">{{localize "ExEss.OpposedIntimacy"}} </label>
                    <select name="object.opposedIntimacy" value="{{data.opposedIntimacy}}" data-type="String">
                        {{selectOptions selects.intimacyLevels selected=data.opposedIntimacy localize=true}}
                    </select>
                </div>
                <div>
                    <label class="resource-label">{{localize "ExEss.Resolve"}}</label>
                    <input type="number" name="object.resolve" value="{{data.resolve}}">
                </div>
            </div>
        </div>
        <div>
            <div class="resource separator">
                <label class="resource-label">Influence Actions (Success Cost)</label>
            </div>
            <div>
                <p><b>Dissuade(2):</b> Concinve target to stop an action they want to do.  Time duration based on extra successes.</p>
                <p><b>Instill(1):</b> Create minor intimacy.</p>
                <p><b>Persuade(2):</b> Convince target to take an action, must target a vritue or intimacy</p>
                <p><b>Read Intentions(var):</b> Learn something about the target, ammount of info based on success number.</p>
                <p><b>Set Up (2):</b> Lower resolve by 1 against allies next social influence.</p>
                <p><b>Strengthen(2):</b> Strengthen existing intimacy.</p>
                <p><b>Weaken(3):</b> Weaken major intimacy or remove minor intimacy.  Once per scene</p>
            </div>
        </div>
    </div>
</section>