<div class="resource-label list-section-header d-flex flex-between">
    <div>
        {{localize "ExEss.ActiveEffects"}}
    </div>
</div>
<ol class="items-list effects-list">
    {{#each effects as |section sid|}}
    <li class="item items-header flexrow" data-effect-type="{{section.type}}">
        <div class="item-name effect-name flexrow">{{localize section.label}}</div>
        <div class="effect-source">{{localize "ExEss.Source"}}</div>
        <div class="effect-source">{{localize "ExEss.Duration"}}</div>
        <div class="item-controls effect-controls flexrow">
            <a data-action="effectControl" class="effect-control" data-actiontype="create"
                title="{{localize 'ExEss.EffectCreate'}}">
                <i class="fas fa-plus"></i> {{localize "ExEss.Add"}}
            </a>
        </div>
    </li>

    <ol class="effects-list">
        {{#each section.effects as |effect|}}
        <li class="item effect flexrow" data-effect-id="{{effect.id}}" data-parent-id='{{effect.parent.id}}'
            data-document-class='ActiveEffect' data-drag="true">
            <!-- <div class="item-name effect-name flexrow"> -->
            <div class="item-image"><img class="list-item-image" src="{{effect.img}}" title="{{effect.name}}" width="24"
                    height="24" /></div>
            <!-- </div> -->
            <h4 class="item-name">{{effect.name}}</h4>

            <div class="effect-source">{{effect.sourceName}}</div>
            <div class="effect-duration">{{effect.duration.label}}</div>
            <div class="item-controls effect-controls flexrow">
                <a data-action="effectControl" class="effect-control" data-actiontype="toggle"
                    title="{{localize 'ExEss.EffectToggle'}}">
                    <i class="fas {{#if effect.disabled}}fa-check{{else}}fa-times{{/if}}"></i>
                </a>
                <a data-action="effectControl" class="effect-control" data-actiontype="edit"
                    title="{{localize 'ExEss.EffectEdit'}}">
                    <i class="fas fa-edit"></i>
                </a>
                <a data-action="effectControl" class="effect-control" data-actiontype="delete"
                    title="{{localize 'ExEss.EffectDelete'}}">
                    <i class="fas fa-trash"></i>
                </a>
            </div>
        </li>
        {{/each}}
    </ol>
    {{/each}}


</ol>