<form class="{{cssClass}} flexcol character-sheet-background" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="profile-img-wrapper">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
      <div class="flex-center">
        <label class="resource-label">{{localize "ExEss.Essence"}}</label>
        <input type="number" name="data.essence.value" value="{{data.data.essence.value}}" data-dtype="Number" />
      </div>
    </div>
    <div class="header-fields">
      <div>
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}"
            placeholder="{{localize 'ExEss.NameTitle'}}" /></h1>
      </div>
      <div class="grid grid-2col flexrow">

        <!-- <h1 class="charname"><input name="data.details.exalt" type="text" value="{{data.data.details.exalt}}"
          placeholder="{{localize 'ExEss.Exalt'}}" /></h1> -->
        <h1 class="charname"> <select name="data.details.exalt" data-type="String">
            {{#select data.data.details.exalt}}
            <option value="abyssal">{{localize "ExEss.Abyssal"}}</option>
            <option value="alchemical">{{localize "ExEss.Alchemical"}}</option>
            <option value="dragonblooded">{{localize "ExEss.Dragonblooded"}}</option>
            <option value="exigent">{{localize "ExEss.Exigent"}}</option>
            <option value="getimian">{{localize "ExEss.Getimian"}}</option>
            <option value="infernal">{{localize "ExEss.Infernal"}}</option>
            <option value="liminal">{{localize "ExEss.Liminal"}}</option>
            <option value="lunar">{{localize "ExEss.Lunar"}}</option>
            <option value="sidereal">{{localize "ExEss.Sidereal"}}</option>
            <option value="solar">{{localize "ExEss.Solar"}}</option>
            <option value="other">{{localize "ExEss.Other"}}</option>
            {{/select}}
          </select></h1>
        <h1 class="charname"><input name="data.details.caste" type="text" value="{{data.data.details.caste}}"
            placeholder="{{localize 'ExEss.CasteAspect'}}" /></h1>
      </div>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns. --}}
      <div class="resources grid grid-3col">
        <div class="resource-content flexrow flex-center flex-between">
          <div>
            <label class="resource-label">{{localize "ExEss.Motes"}}</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="number" name="data.motes.value" value="{{data.data.motes.value}}" data-dtype="Number" />
              /
              <div>{{data.data.motes.total}}</div>
            </div>
          </div>
          <div>
            <label class="resource-label">{{localize "ExEss.Commited"}}</label>
            <input type="number" name="data.motes.commited" value="{{data.data.motes.commited}}" data-dtype="Number" />
          </div>
        </div>
        <div class="resource-content flexrow flex-center flex-between">
          <div>
            <i id="anima-down" class="fas fa-caret-down cursor-pointer"></i><label class="resource-label">{{localize
              "ExEss.Anima"}}</label><i id="anima-up" class="fas fa-caret-up cursor-pointer"></i>
            <input type="number" name="data.anima.value" value="{{data.data.anima.value}}" data-dtype="Number" />
          </div>
          <div>
            <div class="resource-label" style="margin-top: 18px;">{{data.data.anima.level}}</div>
          </div>
        </div>
        <div class="resource-content flexrow flex-center flex-between">
          {{#ifEquals data.data.details.exalt 'getimian'}}
          <div>
            <label class="resource-label">{{localize "ExEss.Flowing"}}</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="number" name="data.flowing.value" value="{{data.data.flowing.value}}" data-dtype="Number" />
              /
              <input type="number" name="data.flowing.total" value="{{data.data.flowing.total}}" data-dtype="Number" />
            </div>
          </div>
          <div>
            <label class="resource-label">{{localize "ExEss.Still"}}</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="number" name="data.still.value" value="{{data.data.still.value}}" data-dtype="Number" />
              /
              <input type="number" name="data.still.total" value="{{data.data.still.total}}" data-dtype="Number" />
            </div>
          </div>
          {{/ifEquals}}
          {{#ifEquals data.data.details.exalt 'lunar'}}
          <div>
            <label class="resource-label">{{localize "ExEss.SacredHunt"}}</label>
            <input type="text" name="data.details.hunt" value="{{data.data.details.hunt}}" />
          </div>
          {{/ifEquals}}
          {{#ifEquals data.data.details.exalt 'dragonblooded'}}
          <div>
            <label class="resource-label">{{localize "ExEss.Aura"}}</label>
            <input type="text" name="data.details.aura" value="{{data.data.details.aura}}" />
          </div>
          {{/ifEquals}}
          {{#ifEquals data.data.details.exalt 'liminal'}}
          <div>
            <label class="resource-label">{{localize "ExEss.Nature"}}</label>
            <input type="text" name="data.details.nature" value="{{data.data.details.nature}}" />
          </div>
          {{/ifEquals}}

        </div>
      </div>
      <div class="resources grid grid-2col">
        <div class="resource flex-group-center d-flex">
          <div style="width:180px;margin-right:20px;">
            <div class="flexrow">
              <label for="data.health" class="resource-label"><i class="fas fa-calculator cursor-pointer"
                  id="calculate-health" style="margin-right:3px;" title="Calculate Health"></i>{{localize
                "ExEss.Health"}}<i id="recoveryScene" title="Recovery Scene" class="fas fa-plus-square cursor-pointer"
                  style="margin-left:3px;"></i></label>
            </div>
            <div class="resource-content flexrow flex-center flex-between">
              <div class="resource-counter" data-states="/:lethal,x:aggravated" data-max="{{data.data.health.total}}"
                data-lethal="{{data.data.health.lethal}}" data-aggravated="{{data.data.health.aggravated}}"
                data-name="data.health">
                {{#numLoop data.data.health.total}}
                <span class="resource-counter-step" data-index="{{this}}" data-state=""></span>
                {{/numLoop}}
              </div>
            </div>
          </div>
          <div>
            <div class="flex-center">
              <div class="resource-label">{{localize "ExEss.WoundPenalty"}}</div>
              <div>-{{data.data.health.penalty}}</div>
            </div>
          </div>
        </div>
        <div class="flex-center">
          <button id="catchBreath"><i class="fas fa-heartbeat" title="Spend a scene resting"></i>{{localize
            "ExEss.CatchBreath"}}</button>
          <button id="fullRest"><i class="fas fa-moon" title="Full nights rest"></i>{{localize
            "ExEss.FullRest"}}</button>
        </div>
      </div>
      <div class="resources grid  grid-3col">
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="stats">{{localize "ExEss.Stats"}}</a>
    <a class="item" data-tab="charms">{{localize "ExEss.Charms"}}/{{localize "ExEss.Spells"}}</a>
    <a class="item" data-tab="effects">{{localize "ExEss.Effects"}}</a>
    <a class="item" data-tab="intimacies">{{localize "ExEss.Intimacies"}}</a>
    <a class="item" data-tab="advantages">{{localize "ExEss.Advantages"}}</a>
    <a class="item" data-tab="advancement">{{localize "ExEss.Advancement"}}</a>
    <a class="item" data-tab="description">{{localize "ExEss.Description"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    <!-- Code for attribute and ability dots taken from foundry-V5

    MIT License

    Copyright (c) 2020 Ray Ji

    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE. -->

    {{!-- Stats Tab --}}
    <div class="tab flex-center" data-group="primary" data-tab="stats">
      <div style="padding-top:10px;">
        <label class="resource-label">{{localize "ExEss.Attributes"}}</label>
      </div>
      <div class="attributes grid grid-3col flex-group-center">
        {{#each data.data.attributes as |attribute key|}}
        <div class="attribute flexrow flex-center">
          <label for="data.attributes.{{key}}.value" class="resource-label resource-value"
            data-roll="{{attribute.value}}" data-label="{{attribute.name}}">{{localize attribute.name}}{{#ifEquals
            ../data.data.details.exalt 'alchemical'}}<i title="Toggle Augmented Attribute" data-name="{{key}}"
              class="augment-attribute fas fa-cog {{#if attribute.aug}}augment-attribute-active{{/if}}"></i>{{/ifEquals}}</label>
          <div class="resource-value" data-value="{{attribute.value}}" data-name="data.attributes.{{key}}.value">
            {{#numLoop 5}}
            <span class="resource-value-step" data-index="{{this}}"></span>
            {{/numLoop}}
          </div>
        </div>
        {{/each}}
      </div>
      <label class="resource-label">{{localize "ExEss.Abilities"}}</label>
      <div class="attributes grid grid-3col flex-group-center">
        {{#each data.data.abilities as |ability key|}}
        <div class="ability flexrow flex-center">
          <label for="data.abilities.{{key}}.value" class="resource-label vrollable roll-ability"
            data-roll="{{ability.value}}" data-ability="{{key}}" data-label="{{ability.name}}">{{localize
            ability.name}}</label>
          <div class="resource-value" data-value="{{ability.value}}" data-name="data.abilities.{{key}}.value">
            {{#numLoop 5}}
            <span class="resource-value-step" data-index="{{this}}"></span>
            {{/numLoop}}
          </div>
        </div>
        {{/each}}
      </div>
      <div>
        <div id="character-combat-tab">
          <div class="grid grid-2col flex-group-center">
            <div class="resource-content flexrow flex-center flex-between">
              <div>
                <label class="resource-label">{{localize "ExEss.Power"}}</label>
                <input type="number" name="data.power.value" value="{{data.data.power.value}}" data-dtype="Number" />
              </div>
              <div>
                <label class="resource-label">{{localize "ExEss.Will"}}</label>
                <input type="number" name="data.will.value" value="{{data.data.will.value}}" data-dtype="Number" />
              </div>
              <div>
                <label class="resource-label">{{localize "ExEss.Stunt"}} {{localize "ExEss.Dice"}}</label>
                <input type="number" name="data.stunt.value" value="{{data.data.stunt.value}}" data-dtype="Number" />
              </div>
            </div>
            <div class="resource-content flexrow flex-center flex-between">
              <div>
                <label class="resource-label">{{localize "ExEss.RollAbility"}}</label>
                <button id="rollAbility" class="roll-button"><i class="fas fa-dice"></i>{{localize
                  "ExEss.Roll"}}</button>
              </div>
              <div>
                <label class="resource-label">{{localize "ExEss.BuildPower"}}</label>
                <button id="buildPower" class="roll-button"><i class="fas fa-bolt"></i>{{localize
                  "ExEss.Roll"}}</button>
              </div>
              <div>
                <label class="resource-label">{{localize "ExEss.FocusWill"}}</label>
                <button id="focusWill" class="roll-button"><i class="fas fa-hat-wizard"></i>{{localize
                  "ExEss.Roll"}}</button>
              </div>
            </div>
          </div>
          <div class="grid grid-3col flex-group-center">
            <div class="resource-content flexrow flex-center flex-between">
              <div>
                <label class="resource-label">{{localize "ExEss.Defense"}}</label>
                <input type="number" name="data.defence.value" value="{{data.data.defence.value}}"
                  data-dtype="Number" />
              </div>
            </div>
            <div class="resource-content flexrow flex-center flex-between">
              <div>
                <label class="resource-label">{{localize "ExEss.Soak"}}</label>
                <input type="number" name="data.soak.value" value="{{data.data.soak.value}}" data-dtype="Number" />
              </div>
              <div>
                <label class="resource-label">{{localize "ExEss.Hardness"}}</label>
                <input type="number" name="data.hardness.value" value="{{data.data.hardness.value}}"
                  data-dtype="Number" />
              </div>
            </div>
            <div class="resource-content flexrow flex-center flex-between">
              <div>
                <label class="resource-label">{{localize "ExEss.Resolve"}}</label>
                <input type="number" name="data.resolve.value" value="{{data.data.resolve.value}}"
                  data-dtype="Number" />
              </div>
              <div>
                <label class="resource-label">{{localize "ExEss.Social"}}</label>
                <button id="socialInfluence" class="roll-button"><i class="fas fa-heart"></i>{{localize
                  "ExEss.Roll"}}</button>
              </div>
            </div>
          </div>
          {{> systems/exaltedessence/templates/actor/equipment-list.html}}
        </div>
      </div>
    </div>

    {{!-- Charms Tab --}}
    <div class="tab items" data-group="primary" data-tab="charms">
      <ol class="items-list">
        <li>
          <div class="resource-label list-section-header mb-2">
            {{localize "ExEss.Anima"}}
          </div>
        </li>
        <li>
          <label class="resource-label">{{localize "ExEss.Passive"}}</label>
          <textarea type="text" name="data.anima.passive" rows="4">{{data.data.anima.passive}}</textarea>
        </li>
        <li>
          <label class="resource-label">{{localize "ExEss.Active"}}</label>
          <textarea type="text" name="data.anima.active" rows="4">{{data.data.anima.active}}</textarea>
        </li>
        <li>
          <label class="resource-label">{{localize "ExEss.Iconic"}}</label>
          <textarea type="text" name="data.anima.iconic" rows="4">{{data.data.anima.iconic}}</textarea>
        </li>
        {{> systems/exaltedessence/templates/actor/charm-list.html}}
      </ol>
    </div>

    <div class="tab effects" data-group="primary" data-tab="effects">
      {{> systems/exaltedessence/templates/actor/active-effects.html}}
    </div>

    {{!-- Intimacy Tab --}}
    <div class="tab intimacies" data-group="primary" data-tab="intimacies">
      {{> systems/exaltedessence/templates/actor/intimacies-list.html}}
    </div>

    {{!-- Advantages Tab --}}
    <div class="tab advantages" data-group="primary" data-tab="advantages">
      <ol class="items-list">
        <li>
          <div class="resource-label list-section-header mb-2">
            {{localize "ExEss.Advantages"}}
          </div>
        </li>
        <li>
          <textarea type="text" name="data.advantages.one" rows="4">{{data.data.advantages.one}}</textarea>
        </li>
        <li>
          <textarea type="text" name="data.advantages.two" rows="4">{{data.data.advantages.two}}</textarea>
        </li>
        {{#ifEquals data.data.details.exalt 'infernal'}}
        <li>
          <label class="resource-label">{{localize "ExEss.DevilBody"}}</label>
          <textarea type="text" name="data.details.devilbody" rows="3">{{data.data.details.devilbody}}</textarea>
        </li>
        {{/ifEquals}}
        <li>
          <label class="resource-label">{{localize "ExEss.Resonance"}}</label>
          <input type="text" name="data.advantages.resonance" value="{{data.data.advantages.resonance}}" />
        </li>
        <div class="mt-1">
          <label class="resource-label">{{localize "ExEss.Languages"}}</label>
          <a class="trait-selector" data-options="languages" data-target="data.traits.languages">
            <i class="fas fa-edit"></i>
          </a>
          <div class="mt-1">
            {{#each data.data.traits.languages.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
            {{/each}}
          </div>
        </div>
        <div class="resource-label list-section-header d-flex flex-between">
          <div>
            {{localize "ExEss.Rituals"}}
          </div>
          <a class="item-control item-create" title="Create ritual" data-type="ritual"><i class="fas fa-plus"></i>Add
            Ritual</a>
        </div>
        {{#each actor.rituals as |item id|}}
        <li class="item flexrow item-row" data-item-id="{{item._id}}">
          <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
          <h4 class="item-name">{{item.name}}</h4>
          <div class="item-controls">
            <a class="item-control item-chat" title="Chat Item"><i class="fas fa-comment"></i></a>
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        <li>
          <div>
            {{{item.data.description}}}
          </div>
        </li>
        {{/each}}
        <div class="resource-label list-section-header d-flex flex-between">
          <div>
            {{localize "ExEss.Merits"}}
          </div>
          <a class="item-control item-create" title="Create merit" data-type="merit"><i class="fas fa-plus"></i>Add
            Merit</a>
        </div>
        {{#each actor.merits as |item id|}}
        <li class="item flexrow item-row" data-item-id="{{item._id}}">
          <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
          <h4 class="item-name">{{item.name}}</h4>
          <div class="resource-value-static" data-value="{{item.data.points}}" data-name="items.{{item._id}}">
            {{#numLoop 5}}
            <span class="resource-value-static-step" data-index="{{this}}"></span>
            {{/numLoop}}
          </div>
          <div class="item-controls">
            <a class="item-control item-chat" title="Chat Item"><i class="fas fa-comment"></i></a>
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        <li>
          <div>
            {{{item.data.description}}}
          </div>
        </li>
        {{/each}}
      </ol>
    </div>

    {{!-- Advancement Tab --}}
    <div class="tab advancement" data-group="primary" data-tab="advancement">
      <div class="resource-label flex-center list-section-header">
        {{localize "ExEss.Milestones"}}
      </div>
      <div class="grid grid-4col flex-group-center">
        <div class="resource-content flexrow flex-center flex-between">
          <div>
            <label class="resource-label">{{localize "ExEss.Personal"}}</label>
            <input name="data.milestones.personal" value="{{data.data.milestones.personal}}" type="text" />
          </div>
        </div>
        <div class="resource-content flexrow flex-center flex-between">
          <div>
            <label class="resource-label">{{localize "ExEss.Minor"}}</label>
            <input name="data.milestones.minor" value="{{data.data.milestones.minor}}" type="text" />
          </div>
        </div>
        <div class="resource-content flexrow flex-center flex-between">
          <div>
            <label class="resource-label">{{localize "ExEss.Major"}}</label>
            <input name="data.milestones.major" value="{{data.data.milestones.major}}" type="text" />
          </div>
        </div>
        <div class="resource-content flexrow flex-center flex-between">
          <div>
            <label class="resource-label">{{localize "ExEss.Exalt"}}</label>
            <input name="data.milestones.exalt" value="{{data.data.milestones.exalt}}" type="text" />
          </div>
        </div>
      </div>
      <div>
        <p>With milestones you may purchase the following advancements</p>
        <p><b>Personal:</b> Repurchase charm, Charm Mode, Gain/change/intensify intimacy (If applicable to the story)
        </p>
        <p><b>Minor:</b> Charm, Increase Ability by +1.</p>
        <p><b>Major:</b> Increase Attribute by +1, Add or raise merit, Change Virtue (If applicable to the story).</p>
        <p><b>Exalt:</b> Minor or Personal Advancement. Must be spent on exalt specific powers</p>
        <p><b>Essence Increase:</b> Receive 1 excellency or Ox-Body for free</p>
      </div>
      <div class="resource-label flex-center list-section-header">
        {{localize "ExEss.Milestones"}}, {{localize "ExEss.Ventures"}}, {{localize "ExEss.Equipment"}}, {{localize
        "ExEss.GreatCurse"}}
      </div>
      {{editor content=data.data.milestones.triggers target="data.milestones.triggers" button=true owner=owner
      editable=true}}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{editor content=data.data.biography target="data.biography" button=true owner=owner editable=true}}
    </div>

  </section>
</form>