{{!-- Sheet Header --}}
<header class="sheet-header">
    <div class="profile-img-wrapper">
        <img class="profile-img" src="{{actor.img}}" data-action="onEditImage" data-edit="img" title="{{actor.name}}" height="100" width="100" />
        <div class="flex-center">
            <label class="resource-label">{{localize "ExEss.Essence"}}</label>
            <input type="number" name="system.essence.value" value="{{system.essence.value}}" data-dtype="Number" />
        </div>
        {{#if isNPC}}
        <div class="flex-center">
            <div class="resource-label">{{localize "ExEss.Battlegroup"}}</div>
            <input data-dtype="Boolean" name="system.battlegroup" type="checkbox" {{checked system.battlegroup}}>
        </div>
        {{/if}}
    </div>
    <div class="header-fields">
        <div>
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}"
                    placeholder="{{localize 'ExEss.NameTitle'}}" /></h1>
        </div>
        {{#if isNPC}}
        <div class="grid grid-3col flexrow">
            <h1 class="charname"> <select name="system.creaturetype" data-type="String">
                    {{selectOptions selects.creatureTypes selected=system.creaturetype localize=true}}
                </select></h1>
            {{#ifEquals system.creaturetype 'demon'}}
            <h1 class="charname"> <select name="system.details.exalt" data-type="String">
                    {{selectOptions selects.demons selected=system.details.exalt localize=true}}
                </select></h1>
            {{/ifEquals}}

            {{#ifEquals system.creaturetype 'exalt'}}
            <h1 class="charname"> <select name="system.details.exalt" data-type="String">
                    {{selectOptions selects.exaltTypes selected=system.details.exalt localize=true}}
                </select></h1>
            <h1 class="charname"><input name="system.details.caste" type="text" value="{{system.details.caste}}"
                    placeholder="{{localize 'ExEss.CasteAspect'}}" /></h1>
            {{/ifEquals}}

            {{#ifEquals system.creaturetype 'fae'}}
            <h1 class="charname"> <select name="system.details.exalt" data-type="String">
                    {{selectOptions selects.wyldCreatures selected=system.details.exalt localize=true}}
                </select></h1>
            {{/ifEquals}}
        </div>
        {{else}}
        <div class="grid grid-2col flexrow">
            <h1 class="charname"> <select name="system.details.exalt" data-type="String">
                    {{selectOptions selects.exaltTypes selected=system.details.exalt localize=true}}
                </select></h1>
            <h1 class="charname"><input name="system.details.caste" type="text" value="{{system.details.caste}}"
                    placeholder="{{localize 'ExEss.CasteAspect'}}" /></h1>
        </div>
        {{/if}}
        {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
        use both the "grid" and "grid-Ncol" class where "N" can be any number
        from 1 to 12 and will create that number of columns. --}}
        <div class="resources grid grid-3col">
            <div class="resource-content flexrow flex-center flex-between">
                <div>
                    <label class="resource-label">{{localize "ExEss.Motes"}}</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        {{#ifNotEquals system.details.exalt 'getimian'}}
                        <input type="number" name="system.motes.value" value="{{system.motes.value}}"
                            data-dtype="Number" />
                        /
                        {{/ifNotEquals}}
                        <div>{{system.motes.max}}</div>
                    </div>
                </div>
                <div>
                    <label class="resource-label">{{localize "ExEss.Committed"}}</label>
                    <input type="number" name="system.motes.committed" value="{{system.motes.committed}}"
                        data-dtype="Number" />
                </div>
            </div>
            <div class="resource-content flexrow flex-center flex-between">
                <div>
                    <a data-action="updateAnima" data-direction="down"><i class="fas fa-caret-down cursor-pointer"></i></a><label
                        class="resource-label">{{localize
                        "ExEss.Anima"}}</label><a data-action="updateAnima" data-direction="up"><i class="fas fa-caret-up cursor-pointer"></i></a>
                    <input type="number" name="system.anima.value" value="{{system.anima.value}}" data-dtype="Number" />
                </div>
                <div>
                    <div class="resource-label" style="margin-top: 18px;">{{system.anima.level}}</div>
                </div>
            </div>
            <div class="resource-content flexrow flex-center flex-between">
                {{#ifEquals system.details.exalt 'getimian'}}
                <div>
                    <label class="resource-label"><a data-action="setSpendPool" data-pooltype="flowing"><i class="fas fa-burn cursor-pointer flowing-pool"
                                title="Spend motes from this pool"></i></a> {{localize "ExEss.Flowing"}}</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="number" name="system.flowing.value" value="{{system.flowing.value}}"
                            data-dtype="Number" />
                        /
                        <input type="number" name="system.flowing.total" value="{{system.flowing.total}}"
                            data-dtype="Number" />
                    </div>
                </div>
                <div>
                    <label class="resource-label" data-action="setSpendPool" data-pooltype="still"><a><i class="fas fa-burn cursor-pointer still-pool"
                                title="Spend motes from this pool"></i></a> {{localize "ExEss.Still"}}</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="number" name="system.still.value" value="{{system.still.value}}"
                            data-dtype="Number" />
                        /
                        <input type="number" name="system.still.total" value="{{system.still.total}}"
                            data-dtype="Number" />
                    </div>
                </div>
                {{/ifEquals}}
                {{#ifEquals system.details.exalt 'lunar'}}
                <div>
                    <label class="resource-label">{{localize "ExEss.SacredHunt"}}</label>
                    <input type="text" name="system.details.hunt" value="{{system.details.hunt}}" />
                </div>
                {{/ifEquals}}
                {{#ifEquals system.details.exalt 'dragonblooded'}}
                <div>
                    <div class="resource-label">{{localize "ExEss.Aura"}}</div>
                    <select name="system.details.aura" data-type="String">
                        {{selectOptions selects.elements selected=system.details.aura localize=true}}
                    </select>
                </div>
                {{/ifEquals}}
                {{#ifEquals system.details.exalt 'liminal'}}
                <div>
                    <div class="resource-label">{{localize "ExEss.Nature"}}</div>
                    <select name="system.details.nature" data-type="String">
                        {{selectOptions selects.natures selected=system.details.nature blank='' localize=true}}
                    </select>
                </div>
                {{/ifEquals}}

            </div>
        </div>
        <div class="resources grid grid-2col">
            <div class="resource flex-group-center d-flex">
                <div>
                    <div class="flexrow">
                        <label for="system.health" class="resource-label"><a><i class="fas fa-calculator cursor-pointer"
                                    data-action="calculateHealth" style="margin-right:3px;"
                                    title="Calculate Health"></i></a>{{localize
                            "ExEss.Health"}}(-{{system.health.penalty}})<a><i data-action="recoverHealth" data-recoverytype="recoveryScene" title="Recovery Scene"
                                    class="fas fa-plus-square cursor-pointer" style="margin-left:3px;"></i></a></label>
                    </div>
                    <div class="resource-content flexrow flex-center flex-between">
                        <div class="resource-counter" data-states="/:lethal,x:aggravated"
                            data-max="{{system.health.max}}" data-lethal="{{system.health.lethal}}"
                            data-aggravated="{{system.health.aggravated}}" data-name="system.health">
                            {{#if isNPC}}
                            {{#numLoop system.health.levels}}
                            <span class="resource-counter-step health-boxes" data-action="squareCounterChange" data-index="{{this}}" data-state=""></span>
                            {{/numLoop}}
                            {{else}}
                            {{#numLoop system.health.max}}
                            <span class="resource-counter-step health-boxes" data-action="squareCounterChange" data-index="{{this}}" data-state="">
                                {{healthCheck this 'character'}}
                            </span>
                            {{/numLoop}}
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            {{#if isNPC}}
            {{#if system.battlegroup}}
            <div class="resource-content flexrow flex-center flex-between">
                <div>
                    <label class="resource-label">{{localize "ExEss.Size"}}</label>
                    <input type="number" name="system.size.value" value="{{system.size.value}}" data-dtype="Number" />
                </div>
                <div>
                    <label class="resource-label">{{localize "ExEss.Drill"}}</label>
                    <input type="number" name="system.drill.value" value="{{system.drill.value}}" data-dtype="Number" />
                </div>
            </div>
            {{/if}}
            {{else}}
            <div class="flex-center">
                <button class="roll-button" data-action="recoverHealth" data-recoverytype="catchBreath"><i class="fas fa-heartbeat" title="Spend a scene resting"></i>{{localize
                    "ExEss.CatchBreath"}}</button>
                <button class="roll-button" data-action="recoverHealth" data-recoverytype="fullRest"><i class="fas fa-moon" title="Full nights rest"></i>{{localize
                    "ExEss.FullRest"}}</button>
            </div>
            {{/if}}
        </div>
    </div>
</header>