{{!-- Advantages Tab --}}
<div class="tab advantages {{tab.cssClass}}" data-group="primary" data-tab="advantages">
    <ol class="items-list">
        <li>
            <label class="resource-label">{{localize "ExEss.Advantage"}} <a class="item-control" data-action="displayDataChat" title="Chat"
                    data-type="advantage1"><i class="fas fa-comment"></i></a></label>
            <textarea type="text" name="system.advantages.one" rows="4">{{system.advantages.one}}</textarea>
        </li>
        <li>
            <label class="resource-label">{{localize "ExEss.Advantage"}} <a class="item-control" data-action="displayDataChat" title="Chat"
                    data-type="advantage2"><i class="fas fa-comment"></i></a></label>
            <textarea type="text" name="system.advantages.two" rows="4">{{system.advantages.two}}</textarea>
        </li>
        {{#ifEquals system.details.exalt 'infernal'}}
        <li>
            <label class="resource-label">{{localize "ExEss.DevilBody"}}</label>
            <textarea type="text" name="system.details.devilbody" rows="3">{{system.details.devilbody}}</textarea>
        </li>
        {{/ifEquals}}
        <li>
            <label class="resource-label">{{localize "ExEss.Resonance"}}</label>
            <input type="text" name="system.advantages.resonance" value="{{system.advantages.resonance}}" />
        </li>
        <div class="mt-1">
            <label class="resource-label">{{localize "ExEss.Languages"}}</label>
            <a data-action="editTraits" data-options="languages" data-target="system.traits.languages">
                <i class="fas fa-edit"></i>
            </a>
            <div class="mt-1">
                {{#each system.traits.languages.selected as |v k|}}
                <li class="tag {{k}}">{{v}}</li>
                {{/each}}
            </div>
        </div>
        <div class="resource-label list-section-header d-flex flex-between">
            <div>
                {{localize "ExEss.Rituals"}}
            </div>
            <a class="item-control" data-action="createItem" title="Create ritual" data-type="ritual"><i class="fas fa-plus"></i>Add</a>
        </div>
        {{#each actor.rituals as |item id|}}
        <li class="item flexrow item-row" data-action="toggleCollapse" data-document-class="Item" data-collapsetype="itemDescription" data-item-id="{{item._id}}" data-drag="true">
            <div class="item-image"><img class="list-item-image" src="{{item.img}}" title="{{item.name}}" width="24"
                    height="24" /></div>
            <h4 class="item-name">{{item.name}}</h4>
            <div class="item-controls">
                {{#if item.system.activatable}}
                {{#if item.system.active}}
                <a class="item-control" data-action="itemAction" data-actiontype="chatItem" title="Deactivate"><i class="fas fa-lightbulb-on"></i></a>
                {{else}}
                <a class="item-control" data-action="itemAction" data-actiontype="chatItem" title="Activate"><i class="fas fa-lightbulb"></i></a>
                {{/if}}
                {{else}}
                <a class="item-control" data-action="itemAction" data-actiontype="chatItem" title="Use"><i class="fas fa-book-sparkles"></i></a>
                {{/if}}
                <a class="item-control" data-action="itemAction" data-actiontype="chatItem" title="Chat Item"><i class="fas fa-comment"></i></a>
                <a class="item-control" data-action="itemAction" data-actiontype="editItem" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control" data-action="itemAction" data-actiontype="deleteItem" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        <li class="item-description">
            <div>
                {{{enrichedHTMLItems ../this "description" item._id}}}
            </div>
        </li>
        {{/each}}
        <div class="resource-label list-section-header d-flex flex-between">
            <div>
                {{localize "ExEss.Merits"}}
            </div>
            <a class="item-control" data-action="createItem" title="Create merit" data-type="merit"><i class="fas fa-plus"></i>Add</a>
        </div>
        {{#each actor.merits as |item id|}}
        <li class="item flexrow item-row" data-action="toggleCollapse" data-document-class="Item" data-collapsetype="itemDescription" data-item-id="{{item._id}}" data-drag="true">
            <div class="item-image"><img class="list-item-image" src="{{item.img}}" title="{{item.name}}" width="24"
                    height="24" /></div>
            <h4 class="item-name">{{item.name}} ({{item.system.rating}})</h4>
            <div class="item-controls">
                {{#if item.system.activatable}}
                {{#if item.system.active}}
                <a class="item-control" data-action="itemAction" data-actiontype="chatItem" title="Deactivate"><i class="fas fa-lightbulb-on"></i></a>
                {{else}}
                <a class="item-control" data-action="itemAction" data-actiontype="chatItem" title="Activate"><i class="fas fa-lightbulb"></i></a>
                {{/if}}
                {{/if}}
                <a class="item-control" data-action="itemAction" data-actiontype="chatItem" title="Chat Item"><i class="fas fa-comment"></i></a>
                <a class="item-control" data-action="itemAction" data-actiontype="editItem" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control" data-action="itemAction" data-actiontype="deleteItem" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        <li class="item-description">
            <div>
                {{{enrichedHTMLItems ../this "description" item._id}}}
            </div>
        </li>
        {{/each}}
        <div class="resource-label list-section-header d-flex flex-between">
            <div>
                {{localize "ExEss.Items"}}
            </div>
            <a class="item-control" data-action="createItem" title="Create item" data-type="item"><i class="fas fa-plus"></i>Add</a>
        </div>
        {{#each actor.gear as |item id|}}
        <li class="item flexrow item-row" data-action="toggleCollapse" data-document-class="Item" data-collapsetype="itemDescription" data-item-id="{{item._id}}" data-drag="true">
            <div class="item-image"><img class="list-item-image" src="{{item.img}}" title="{{item.name}}" width="24"
                    height="24" /></div>
            <h4 class="item-name">{{item.name}}</h4>
            <div class="item-controls">
                <a class="item-control" data-action="itemAction" data-actiontype="chatItem" title="Chat Item"><i class="fas fa-comment"></i></a>
                <a class="item-control" data-action="itemAction" data-actiontype="editItem" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control" data-action="itemAction" data-actiontype="deleteItem" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        <li class="item-description">
            <div>
                {{{enrichedHTMLItems ../this "description" item._id}}}
            </div>
        </li>
        {{/each}}
    </ol>
</div>