<div class="tab items {{tab.cssClass}}" data-group="primary" data-tab="charms">
    <ol class="items-list">
        {{#if isExalt}}
        <li>
            <div class="resource-label list-section-header mb-2">
                {{localize "ExEss.Anima"}}
            </div>
        </li>
        <li>
            <div class="d-flex flex-between cursor-pointer list-section-header mb-1" data-action="toggleCollapse"
                data-collapsetype="anima" data-type="passive">
                <div class="resource-label">
                    {{localize "ExEss.Passive"}} <a class="item-control" data-action="displayDataChat" title="Chat"
                        data-type="passive"><i class="fas fa-comment"></i></a> </div>
                <div>
                    <i class="fas fa-caret-down"></i>
                </div>
            </div>
            <div {{#if system.collapse.passive }} style="display:none;" {{/if}}>
                <textarea type="text" name="system.anima.passive" rows="8">{{system.anima.passive}}</textarea>
            </div>
        </li>
        <li>
            <div class="d-flex flex-between cursor-pointer list-section-header mb-1" data-action="toggleCollapse"
                data-collapsetype="anima" data-type="active">
                <div class="resource-label">
                    {{localize "ExEss.Active"}} <a class="item-control" data-action="displayDataChat" title="Chat"
                        data-type="active"><i class="fas fa-comment"></i></a> </div>
                <div>
                    <i class="fas fa-caret-down"></i>
                </div>
            </div>
            <div {{#if system.collapse.active }} style="display:none;" {{/if}}>
                <textarea type="text" name="system.anima.active" rows="8">{{system.anima.active}}</textarea>
            </div>
        </li>
        <li>
            <div class="d-flex flex-between cursor-pointer list-section-header mb-1" data-action="toggleCollapse"
                data-collapsetype="anima" data-type="iconic">
                <div class="resource-label">
                    {{localize "ExEss.Iconic"}} <a class="item-control" data-action="displayDataChat" title="Chat"
                        data-type="iconic"><i class="fas fa-comment"></i></a> </div>
                <div>
                    <i class="fas fa-caret-down"></i>
                </div>
            </div>
            <div {{#if system.collapse.iconic }} style="display:none;" {{/if}}>
                <textarea type="text" name="system.anima.iconic" rows="8">{{system.anima.iconic}}</textarea>
            </div>
        </li>
        {{/if}}
        {{> systems/exaltedessence/templates/actor/charm-list.html}}
    </ol>
</div>