<div>
  <label class="resource-label">{{localize "ExEss.Weapons"}} <i class="fas fa-info-circle show-weapon-tags cursor-pointer"></i></label>
  <ol class="items-list" style="overflow-y: inherit;">
    <li class="item flexrow item-header">
      <div class="item-image"></div>
      <div class="item-name">Name</div>
      <div class="item-name">{{localize "ExEss.Accuracy"}}</div>
      <div class="item-name">{{localize "ExEss.Damage"}}</div>
      <div class="item-name">{{localize "ExEss.Defense"}}</div>
      <div class="item-name">Ov</div>
      <div class="item-controls">
        <a class="item-control item-create" title="Create weapon" data-type="weapon"><i class="fas fa-plus"></i>
          Add</a>
      </div>
    </li>
    {{#each actor.weapons as |item id|}}
    <li class="item item-large flexrow item-row" data-item-id="{{item._id}}">
      <div class="item-image"><img class="list-item-image" src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
      <h4 class="item-name">{{item.name}}</h4>
      <div class="resource-value-static">
        {{item.system.accuracy}}
      </div>
      <div class="resource-value-static">
        {{item.system.damage}}
      </div>
      <div class="resource-value-static">
        {{item.system.defence}}
      </div>
      <div class="resource-value-static">
        {{item.system.overwhelming}}
      </div>
      <div class="item-controls">
        <a class="item-control item-chat" title="Chat Item"><i class="fas fa-comment"></i></a>
        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
      </div>
    </li>
    <li class="item-description">
        <div>
            {{{item.system.description}}}
        </div>
    </li>
    <li class="item item-large flexrow">
      <div>
        <button class="roll-button roll-withering" data-item-id="{{item._id}}"><i class="fas fa-bolt"></i>{{localize
          "ExEss.Withering"}}</button>
      </div>
      <div>
        <button class="roll-button roll-decisive" data-item-id="{{item._id}}"><i class="fas fa-skull"></i>{{localize
          "ExEss.Decisive"}}</button>
      </div>
      <div>
        <button class="roll-button roll-gambit" data-item-id="{{item._id}}"><i class="fas fa-fist-raised"></i>{{localize
          "ExEss.Gambit"}}</button>
      </div>
    </li>
    {{/each}}
  </ol>
</div>
<div>
  <label class="resource-label">{{localize "ExEss.Armor"}} <i class="fas fa-info-circle show-armor-tags cursor-pointer"></i></label>
  <ol class="items-list">
    <li class="item flexrow item-header">
      <div class="item-image"></div>
      <div class="item-name">Name</div>
      <div class="item-name">{{localize "ExEss.Soak"}}</div>
      <div class="item-name">{{localize "ExEss.Penalty"}}</div>
      <div class="item-name">{{localize "ExEss.Hardness"}}</div>
      <div class="item-controls">
        <a class="item-control item-create" title="Create armor" data-type="armor"><i class="fas fa-plus"></i>
          Add</a>
      </div>
    </li>
    {{#each actor.armor as |item id|}}
    <li class="item item-large flexrow item-row" data-item-id="{{item._id}}">
      <div class="item-image"><img class="list-item-image" src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
      <h4 class="item-name">{{item.name}}</h4>
      <div class="resource-value-static">
        {{item.system.soak}}
      </div>
      <div class="resource-value-static">
        {{item.system.penalty}}
      </div>
      <div class="resource-value-static">
        {{item.system.hardness}}
      </div>
      <div class="item-controls">
        <a class="item-control item-chat" title="Chat Item"><i class="fas fa-comment"></i></a>
        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
      </div>
    </li>
    <li class="item-description">
        <div>
            {{{item.system.description}}}
        </div>
    </li>
    {{/each}}
  </ol>
</div>