<div class="chat-card">
    <div class="card-content">Dice Roll</div>
    <div class="card-buttons">
        <div class="flexrow 1">
            <div>Dice Roller - Number of Successes<div class="dice-roll">
                    <div class="dice-result">
                        <div class="dice-total">${roll.formula}</div>
                        <div class="dice-tooltip">
                            <div class="dice">
                                <ol class="dice-rolls">${get_dice}</ol>
                            </div>
                        </div>
                        <h4 class="dice-total">${total} Successes</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>