<div class="chat-card exaltedthird">
    <div class="card-content">A character is making an action roll.</div>
    <div class="grid grid-2col" style="text-align:center;">
        <div>
            <div>
                <img class="borderless-image roll-card-icon" src="{{actor.img}}" title="{{actor.name}}" width="64" height="64" />
            </div>
            <div>
                <b>{{actor.name}}</b>
            </div>
        </div>
        <div>
            <img class="borderless-image black-icon roll-card-icon" src="{{imgUrl}}" width="64" height="64" />
            <div>
                <b>{{localize rollType}}</b>
            </div>
        </div>
    </div>
</div>