<div class="chat-card exaltedessence">
    <div class="card-content">A character is making an action roll.</div>
    <div class="grid grid-3col" style="text-align:center;">
        <div>
            <div>
                <img class="borderless-image roll-card-icon" src="{{actor.img}}" title="{{actor.name}}" width="64" height="64" />
            </div>
            <div>
                <b>{{actor.name}}</b>
            </div>
        </div>
        <div>
            <img class="borderless-image black-icon roll-card-icon" src="{{imgUrl}}" width="64" height="64" />
            <div>
                <b>{{localize rollType}}</b>
            </div>
        </div>
        {{#if targetActor}}
        <div>
            <div>
                <img class="borderless-image roll-card-icon" class="list-item-image" src="{{targetActor.img}}" title="{{targetActor.name}}" width="64" height="64" />
            </div>
            <div>
                <b>{{targetActor.name}}</b>
            </div>
        </div>
        {{else}}
        <div>
            <img class="borderless-image black-icon roll-card-icon" src="icons/svg/mystery-man.svg" width="64" height="64" />
            <div>
                <b>{{localize "ExEss.NoTargets"}}</b>
            </div>
        </div>
        {{/if}}
    </div>
</div>