.resource-label {
  font-weight: bold;
}

.resource-calculated-value {
  font-size: 35px;
}

.resource-label::first-letter {
  text-transform: uppercase;
}

.resource-table-value::first-letter {
  text-transform: uppercase;
}