<div class="tab {{tab.cssClass}}" data-group="primary" data-tab="details">
    {{#ifEquals type 'armor'}}
    <div class="grid grid-2col flex-group-center">
        <div>
            <div class="resource-label">{{localize "ExEss.Weight"}}</div>
            <select name="system.weight" data-type="String">
                {{selectOptions selects.itemWeights selected=system.weight localize=true blank=""}}
            </select>
        </div>
    </div>
    {{/ifEquals}}

    {{#if isActivatable}}
    <div class="grid grid-2col flex-group-center">
        <div>
            <label class="resource-label">{{localize "ExEss.Activatable"}}</label>
            <div>
                <input name="system.activatable" type="checkbox" {{checked system.activatable}}>
            </div>
        </div>
        {{#if system.activatable}}
        <div>
            <div class="resource-label">{{localize "ExEss.AutoAddToRolls"}}</div>
            <select name="system.autoaddtorolls" data-type="String">
                {{selectOptions selects.autoAddToRollOptions selected=system.autoaddtorolls localize=true}}
            </select>
        </div>
        {{/if}}
        {{#ifEquals type 'charm'}}
        <div>
            <div class="flex-center">
                <div class="resource-label">{{localize "ExEss.ListingName"}}</div>
            </div>
            <input type="text" name="system.listingname" value="{{system.listingname}}"
                placeholder="Defaults to ability name" />
        </div>
        <div>
            <div class="flex-center">
                <div class="resource-label">{{localize "ExEss.OpposedBonusCharm"}}</div>
            </div>
            <div>
                <input name="system.diceroller.opposedbonuses.enabled" type="checkbox" {{checked
                    system.diceroller.opposedbonuses.enabled}}>
            </div>
        </div>
        {{/ifEquals}}
        {{#ifEquals type 'spell'}}
        <div>
            <div class="flex-center">
                <div class="resource-label">{{localize "ExEss.ListingName"}}</div>
            </div>
            <input type="text" name="system.listingname" value="{{system.listingname}}"
                placeholder="Defaults to ability name" />
        </div>
        <div>
            <label class="resource-label">{{localize "ExEss.ControlSpell"}}</label>
            <div>
                <input name="system.iscontrolspell" type="checkbox" {{checked system.iscontrolspell}}>
            </div>
        </div>
        {{/ifEquals}}
    </div>
    {{/if}}

    {{#ifEquals type 'weapon'}}
    <div class="grid grid-2col flex-group-center">
        <div>
            <div class="resource-label">{{localize "ExEss.Weight"}}</div>
            <select name="system.weight" data-type="String">
                {{selectOptions selects.itemWeights selected=system.weight localize=true blank=""}}
            </select>
        </div>
    </div>
    <div>
        <div class="d-flex flex-center resources">
            <label class="resource-label mr-1">{{localize "ExEss.AttackEffect"}} </label>
        </div>
        <div>
            <label class="resource-label mr-1">{{localize "ExEss.Preset"}}: </label>
            <select name="system.attackeffectpreset" data-type="String">
                {{selectOptions selects.attackEffectPresets selected=system.attackeffectpreset localize=true}}
            </select>
            <div>
                <label class="resource-label mr-1">{{localize "ExEss.CustomInput"}}: </label>
                <input type="text" name="system.attackeffect" value="{{system.attackeffect}}"
                    placeholder="jb2a.quarterstaff.melee.01.white" />
            </div>
        </div>
    </div>
    {{/ifEquals}}

</div>