<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="check-button">
                <label class="resource-label">{{localize "ExEss.Equipped"}}: </label>
                <input name="system.equiped" type="checkbox" value="system.equiped" {{checked system.equiped}}>
                <label class="resource-label mr-1">{{localize "ExEss.Type"}}: </label>
                <select name="system.weapontype" data-type="String">
                    {{#select system.weapontype}}
                    <option value="melee">{{localize "ExEss.Melee"}}</option>
                    <option value="ranged">{{localize "ExEss.Ranged"}}</option>
                    <option value="thrown">{{localize "ExEss.Thrown"}}</option>
                    {{/select}}
                </select>
            </div>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "ExEss.Description"}}</a>
        <a class="item" data-tab="effects">{{localize "ExEss.Effects"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            <div class="d-flex flex-center resources">
                <div>
                    <div>{{localize "ExEss.Accuracy"}}</div>
                    <input type="number" name="system.accuracy" value="{{system.accuracy}}" data-dtype="Number" />
                </div>
                <div>
                    <div>{{localize "ExEss.Damage"}}</div>
                    <input type="number" name="system.damage" value="{{system.damage}}" data-dtype="Number" />
                </div>
                <div>
                    <div>{{localize "ExEss.Defense"}}</div>
                    <input type="number" name="system.defence" value="{{system.defence}}" data-dtype="Number" />
                </div>
                <div>
                    <div>{{localize "ExEss.Overwhelming"}}</div>
                    <input type="number" name="system.overwhelming" value="{{system.overwhelming}}" data-dtype="Number" />
                </div>
            </div>
            {{editor system.description target="system.description" button=true owner=owner editable=true}}
        </div>

        <div class="tab" data-group="primary" data-tab="effects">
            {{> systems/exaltedessence/templates/actor/active-effects.html}}
        </div>

    </section>
</form>
