<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
            <div class="d-flex flex-center">
                <label class="resource-label">{{localize "ExEss.Strength"}}: </label>
                <select name="data.strength" data-type="String">
                    {{#select data.data.strength}}
                    <option value="minor">{{localize "ExEss.Minor"}}</option>
                    <option value="major">{{localize "ExEss.Major"}}</option>
                    {{/select}}
                </select>
                <label class="resource-label">{{localize "ExEss.Type"}}: </label>
                <select name="data.intimacytype" data-type="String">
                    {{#select data.data.intimacytype}}
                    <option value="tie">{{localize "ExEss.Tie"}}</option>
                    <option value="principle">{{localize "ExEss.Principle"}}</option>
                    {{/select}}
                </select>
                <label class="resource-label">{{localize "ExEss.Virtue"}}: </label>
                <input type="text" name="data.virtue" value="{{data.data.virtue}}" />
            </div>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab">
            {{editor content=data.data.description target="data.description" button=true owner=owner editable=true}}
        </div>
    </section>
</form>