<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div>
                <label class="resource-label">{{localize "ExEss.Circle"}}: </label>
                <select name="data.circle" data-type="String">
                    {{#select data.data.circle}}
                        <option value="emerald">{{localize "ExEss.Emerald"}}</option>
                        <option value="sapphire">{{localize "ExEss.Sapphire"}}</option>
                        <option value="adamant">{{localize "ExEss.Adamant"}}</option>
                    {{/select}}
                </select>
            </div>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab">
            {{editor content=data.data.description target="data.description" button=true owner=owner editable=true}}
        </div>
    </section>
</form>
