<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div>
                <label class="resource-label">{{localize "ExEss.CharmType"}}:</label>
                <select name="system.charmtype" data-type="String">
                    {{selectOptions selects.exaltCharmTypes selected=system.charmtype localize=true}}
                </select>
                <label class="resource-label">{{localize "ExEss.Ability"}}: </label>
                <select name="system.ability" data-type="String">
                    {{selectOptions selects.charmAbilities selected=system.ability localize=true}}
                </select>
                <select name="system.requirement" data-type="String">
                    {{selectOptions selects.abilityRequirementLevels selected=system.requirement localize=true}}
                </select>
                <label class="resource-label">{{localize "ExEss.Essence"}}: </label>
                <select name="system.essence" data-type="String">
                    {{selectOptions selects.abilityRequirementLevels selected=system.essence localize=true}}
                </select>
            </div>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "ExEss.Description"}}</a>
        <a class="item" data-tab="costs">{{localize "ExEss.Costs"}}</a>
        <a class="item" data-tab="rollbonuses">{{localize "ExEss.RollBonuses"}}</a>
        <a class="item" data-tab="effects">{{localize "ExEss.Effects"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            <div class="flex-center mt-1">
                <div class="resource-label">{{localize "ExEss.CharmPrerequisites"}}</div>
            </div>
            <div class="embeded-item-list-wrapper" {{#if
                options.editable}}style="border: 1px solid var(--color-border-light-tertiary);" {{/if}}>
                <div class="flex-group-center embeded-item-list">
                    <ul>
                        {{#if options.editable}}
                        {{#each system.charmprerequisites as |item id|}}
                        <a draggable="true" class="embeded-item-pill" data-id="{{item.id}}"
                            data-item-name="{{item.name}}" data-item-index="{{id}}">
                            <li data-item-index="{{id}}">
                                {{item.name}}
                                <i class="fas fa-trash embeded-item-delete"></i>
                            </li>
                        </a>
                        {{/each}}
                        {{else}}
                        {{#each system.charmprerequisites as |item id|}}
                        <li class="embeded-item-pill" data-item-name="{{../name}}" data-item-index="{{id}}">
                            {{item.name}}
                        </li>
                        {{/each}}
                        {{/if}}
                    </ul>
                </div>
            </div>
            <div class="flex-center mt-1">
                <div class="resource-label">{{localize "ExEss.OtherPrerequisites"}}</div>
            </div>
            <input class="mb-1" type="text" name="system.prerequisites" value="{{system.prerequisites}}" />
            {{editor descriptionHTML target="system.description" button=true editable=editable engine="prosemirror"}}
        </div>

        <div class="tab" data-group="primary" data-tab="costs">
            {{> systems/exaltedessence/templates/item/item-cost.html}}
        </div>

        <div class="tab" data-group="primary" data-tab="rollbonuses">
            {{> systems/exaltedessence/templates/item/item-roll-bonuses.html}}
        </div>

        <div class="tab" data-group="primary" data-tab="effects">
            <div class="grid grid-2col flex-group-center">
                <div>
                    <label class="resource-label">{{localize "ExEss.Activatable"}}</label>
                    <div>
                        <input name="system.activatable" type="checkbox" {{checked system.activatable}}>
                    </div>
                </div>
                <div>
                    <div class="resource-label">{{localize "ExEss.AutoAddToRolls"}}</div>
                    <select name="system.autoaddtorolls" data-type="String">
                        {{selectOptions selects.autoAddToRollOptions selected=system.autoaddtorolls localize=true}}
                    </select>
                </div>
            </div>
            {{> systems/exaltedessence/templates/actor/active-effects.html}}
        </div>

    </section>
</form>
