<div class="resource flex-center mb-1" style="font-size: 17px;"><label class="resource-label">{{localize
        "ExEss.DiceRollerTriggers"}} <a class="item-control" data-action="triggerAction" data-actiontype="add"
            title="Create trigger" data-type="dicerollertriggers"><i class="fas fa-plus"></i></a></label>
</div>
{{#each system.triggers.dicerollertriggers as |trigger index|}}
<div class="flex-group-center mb-1 triggers">
    <div class="grid grid-2col flex-center">
        <div>
            <div>
                <label class="resource-label">{{localize "ExEss.Name"}}</label>
            </div>
            <div class="d-flex" style="align-items:center; margin-bottom: 10px;">
                <input name="system.triggers.dicerollertriggers.{{index}}.name" class="trigger-name"
                    value="{{trigger.name}}" type="text" data-index="{{index}}" data-type="dicerollertriggers">
            </div>
        </div>
        <div>
            <div>
                <label class="resource-label">{{localize "ExEss.Summary"}}</label>
            </div>
            <div class="d-flex" style="align-items:center; margin-bottom: 10px;">
                <input name="system.triggers.dicerollertriggers.{{index}}.summary" class="trigger-summary"
                    value="{{trigger.summary}}" type="text" data-index="{{index}}" data-type="dicerollertriggers">
            </div>
        </div>
        <div>
            <div>
                <label class="resource-label">{{localize "ExEss.RequirementMode"}}</label>
            </div>
            <div class="trigger-value-field">
                <select name="system.triggers.dicerollertriggers.{{index}}.requirementMode" data-type="String">
                    {{selectOptions ../selects.triggerRequirementModes selected=trigger.requirementMode localize=true}}
                </select>
            </div>
        </div>
        <div>
            <div style="margin-right: 30px;">
                <label class="resource-label">{{localize "ExEss.TriggerTime"}}</label>
            </div>
            <div class="trigger-value-field">
                <select name="system.triggers.dicerollertriggers.{{index}}.triggerTime" data-type="String">
                    {{selectOptions ../selects.triggerTimes selected=trigger.triggerTime localize=true}}
                </select>
                <a class="item-control" data-action="triggerAction" data-actiontype="delete" title="Delete trigger"
                    data-type="dicerollertriggers" data-index="{{index}}"><i class="fas fa-trash"
                        style="margin-right: 15px; margin-left:15px;"></i></a>
            </div>
        </div>
    </div>
    <div class="resource flex-center mb-1" style="font-size: 17px;">
        <label class="resource-label">{{localize "ExEss.Bonuses"}} <a class="item-control" data-functiontype="add"
                data-action="triggerSubItemAction" title="Create bonus" data-type="dicerollertriggers"
                data-subtype="bonuses" data-index="{{index}}"><i class="fas fa-plus"></i></a></label>
    </div>
    <div class="grid grid-2col flex-center">
        {{#each trigger.bonuses as |bonus bonusIndex|}}
        <div>
            <div class="resource-label">{{localize "ExEss.Effect"}}</div>
            <select name="system.triggers.dicerollertriggers.{{index}}.bonuses.{{bonusIndex}}.effect"
                data-type="String">
                {{#each ../../triggerBonusTypes as |bonusesCategory bonusesCategoryType|}}
                <optgroup label="{{localize bonusesCategory.label}}">
                    {{selectOptions bonusesCategory.bonuses selected=bonus.effect localize=true}}
                </optgroup>
                {{/each}}
            </select>
        </div>
        <div>
            <div class="resource-label" style="margin-right: 30px;">{{localize "ExEss.Value"}}*</div>
            <div class="d-flex" style="align-items:center;">
                {{#ifEquals bonus.effect 'setDamageType'}}
                <select name="system.triggers.dicerollertriggers.{{index}}.bonuses.{{bonusIndex}}.value"
                    data-type="String">
                    {{selectOptions ../../selects.damageTypes selected=bonus.value localize=true
                    blank=''}}
                </select>
                {{else ifEquals bonus.effect 'activateAura'}}
                <select name="system.triggers.dicerollertriggers.{{index}}.bonuses.{{bonusIndex}}.value"
                    data-type="String">
                    {{selectOptions ../../selects.elements selected=bonus.value localize=true blank=''}}
                </select>
                {{else ifEquals bonus.effect 'addSpecialAttack'}}
                <select name="system.triggers.dicerollertriggers.{{index}}.bonuses.{{bonusIndex}}.value"
                    data-type="String">
                    {{selectOptions ../../selects.specialAttacks selected=bonus.value localize=true
                    blank=''}}
                </select>
                {{else}}
                {{#isBooleanTrigger bonus.effect}}
                <select name="system.triggers.dicerollertriggers.{{index}}.bonuses.{{bonusIndex}}.value"
                    data-type="String">
                    {{selectOptions ../../selects.booleanTriggerSelects selected=bonus.value localize=true
                    blank='ExEss.DefaultsTrue'}}
                </select>
                {{else}}
                <input name="system.triggers.dicerollertriggers.{{index}}.bonuses.{{bonusIndex}}.value"
                    value="{{bonus.value}}" type="text">
                {{/isBooleanTrigger}}
                {{/ifEquals}}
                <a class="item-control" data-functiontype="delete" data-action="triggerSubItemAction"
                    title="Delete bonus" data-type="dicerollertriggers" data-index="{{index}}"
                    data-subindex="{{bonusIndex}}" data-subtype="bonuses"><i class="fas fa-trash"
                        style="margin-right: 15px; margin-left: 15px;"></i></a>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="resource flex-center mb-1" style="font-size: 17px;">
        <label class="resource-label">{{localize "ExEss.Requirements"}} <a class="item-control" data-functiontype="add"
                data-action="triggerSubItemAction" title="Create requirement" data-type="dicerollertriggers"
                data-subtype="requirements" data-index="{{index}}"><i class="fas fa-plus"></i></a></label>
    </div>
    <div class="grid grid-2col flex-center">
        {{#each trigger.requirements as |requirement requirementIndex|}}
        <div>
            <div class="resource-label">{{localize "ExEss.Requirement"}}</div>
            <select name="system.triggers.dicerollertriggers.{{index}}.requirements.{{requirementIndex}}.requirement"
                data-type="String">
                {{#each ../../triggerRequirementTypes as |requirementCategory requirementCategoryType|}}
                <optgroup label="{{localize requirementCategory.label}}">
                    {{selectOptions requirementCategory.requirements selected=requirement.requirement localize=true}}
                </optgroup>
                {{/each}}
            </select>
        </div>
        <div>
            <div class="resource-label" style="margin-right: 30px;">{{localize "ExEss.Value"}}</div>
            <div class="d-flex" style="align-items:center;">
                {{#ifEquals requirement.requirement 'rollType'}}
                <select name="system.triggers.dicerollertriggers.{{index}}.requirements.{{requirementIndex}}.value"
                    data-type="String">
                    {{selectOptions ../../selects.rollTypes selected=requirement.value localize=true blank=''}}
                </select>
                {{else ifEquals requirement.requirement 'gambitType'}}
                <select name="system.triggers.dicerollertriggers.{{index}}.requirements.{{requirementIndex}}.value"
                    data-type="String">
                    {{selectOptions ../../gambitList selected=requirement.value localize=true
                    blank=''}}
                </select>
                {{else ifEquals requirement.requirement 'hasAura'}}
                <select name="system.triggers.dicerollertriggers.{{index}}.requirements.{{requirementIndex}}.value"
                    data-type="String">
                    {{selectOptions ../../selects.elements selected=requirement.value localize=true
                    blank=''}}
                </select>
                {{else ifEquals requirement.requirement 'hasNature'}}
                <select name="system.triggers.dicerollertriggers.{{index}}.requirements.{{requirementIndex}}.value"
                    data-type="String">
                    {{selectOptions ../../selects.natures selected=requirement.value localize=true
                    blank=''}}
                </select>
                {{else ifEquals requirement.requirement 'isExalt'}}
                <select name="system.triggers.dicerollertriggers.{{index}}.requirements.{{requirementIndex}}.value"
                    data-type="String">
                    {{selectOptions ../../selects.exaltTypes selected=requirement.value localize=true
                    blank=''}}
                </select>
                {{else ifEquals requirement.requirement 'hasStatus'}}
                <select name="system.triggers.dicerollertriggers.{{index}}.requirements.{{requirementIndex}}.value"
                    data-type="String">
                    {{selectOptions ../../selects.statuses selected=requirement.value localize=true
                    blank=''}}
                </select>
                {{else ifEquals requirement.requirement 'hasSpecialAttack'}}
                <select name="system.triggers.dicerollertriggers.{{index}}.requirements.{{requirementIndex}}.value"
                    data-type="String">
                    {{selectOptions ../../selects.specialAttacks selected=requirement.value localize=true
                    blank=''}}
                </select>
                {{else ifEquals requirement.requirement 'attribute'}}
                <select name="system.triggers.dicerollertriggers.{{index}}.requirements.{{requirementIndex}}.value"
                    data-type="String">
                    {{selectOptions ../../selects.attributes selected=requirement.value localize=true blank=''}}
                </select>
                {{else ifEquals requirement.requirement 'ability'}}
                <select name="system.triggers.dicerollertriggers.{{index}}.requirements.{{requirementIndex}}.value"
                    data-type="String">
                    {{selectOptions ../../selects.abilities selected=requirement.value localize=true blank=''}}
                </select>
                {{else}}
                {{#isBooleanTrigger requirement.requirement}}
                <select name="system.triggers.dicerollertriggers.{{index}}.requirements.{{requirementIndex}}.value"
                    data-type="String">
                    {{selectOptions ../../selects.booleanTriggerSelects selected=requirement.value localize=true
                    blank='ExEss.DefaultsTrue'}}
                </select>
                {{else}}
                <input name="system.triggers.dicerollertriggers.{{index}}.requirements.{{requirementIndex}}.value"
                    value="{{requirement.value}}" type="text">
                {{/isBooleanTrigger}}
                {{/ifEquals}}
                <a class="item-control" data-functiontype="delete" data-action="triggerSubItemAction"
                    title="Delete bonus" data-type="dicerollertriggers" data-index="{{index}}"
                    data-subindex="{{requirementIndex}}" data-subtype="requirements"><i class="fas fa-trash"
                        style="margin-right: 15px; margin-left: 15px;"></i></a>
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{/each}}