<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="itemname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" />
                <a class="trait-selector" data-options="weapontags" data-target="system.traits.weapontags">
                    <i class="fas fa-edit"></i>
                </a>
            </h1>
            <div class="mt-1">
                <div class="mt-1">
                    {{#each system.traits.weapontags.selected as |v k|}}
                    <li class="tag {{k}}">{{v}}</li>
                    {{/each}}
                </div>
            </div>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "ExEss.Description"}}</a>
        <a class="item" data-tab="effects">{{localize "ExEss.Effects"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            <div class="d-flex flex-center resources">
                <div>
                    <div class="resource-label">{{localize "ExEss.Accuracy"}}</div>
                    <input type="number" name="system.accuracy" value="{{system.accuracy}}" data-dtype="Number" />
                </div>
                <div>
                    <div class="resource-label">{{localize "ExEss.Damage"}}</div>
                    <input type="number" name="system.damage" value="{{system.damage}}" data-dtype="Number" />
                </div>
                <div>
                    <div class="resource-label">{{localize "ExEss.Defense"}}</div>
                    <input type="number" name="system.defense" value="{{system.defense}}" data-dtype="Number" />
                </div>
                <div>
                    <div class="resource-label">{{localize "ExEss.Overwhelming"}}</div>
                    <input type="number" name="system.overwhelming" value="{{system.overwhelming}}"
                        data-dtype="Number" />
                </div>
            </div>
            <div class="d-flex flex-center resources mt-1">
                <div class="check-button">
                    <label class="resource-label">{{localize "ExEss.Equipped"}}: </label>
                    <input name="system.equipped" type="checkbox" value="system.equipped" {{checked system.equipped}}>
                    <label class="resource-label mr-1">{{localize "ExEss.Type"}}: </label>
                    <select name="system.weapontype" data-type="String">
                        {{#select system.weapontype}}
                        <option value="melee">{{localize "ExEss.Melee"}}</option>
                        <option value="ranged">{{localize "ExEss.Ranged"}}</option>
                        <option value="thrown">{{localize "ExEss.Thrown"}}</option>
                        {{/select}}
                    </select>
                </div>
            </div>
            {{editor system.description target="system.description" button=true owner=owner editable=true}}
        </div>
        <div class="tab" data-group="primary" data-tab="effects">
            <div>
                <div class="d-flex flex-center resources">
                    <label class="resource-label mr-1">{{localize "ExEss.AttackEffect"}} </label>
                </div>
                <div>
                    <label class="resource-label mr-1">{{localize "ExEss.Preset"}}: </label>
                    <select name="system.attackeffectpreset" data-type="String">
                        {{#select system.attackeffectpreset}}
                        <option value="arrow">{{localize "ExEss.Arrow"}}</option>
                        <option value="bite">{{localize "ExEss.Bite"}}</option>
                        <option value="brawl">{{localize "ExEss.Brawl"}}</option>
                        <option value="claws">{{localize "ExEss.Claws"}}</option>
                        <option value="fireball">{{localize "ExEss.Fireball"}}</option>
                        <option value="firebreath">{{localize "ExEss.Firebreath"}}</option>
                        <option value="flamepiece">{{localize "ExEss.Flamepiece"}}</option>
                        <option value="glaive">{{localize "ExEss.Glaive"}}</option>
                        <option value="goremaul">{{localize "ExEss.Goremaul"}}</option>
                        <option value="greatsaxe">{{localize "ExEss.Greataxe"}}</option>
                        <option value="greatsword">{{localize "ExEss.Greatsword"}}</option>
                        <option value="handaxe">{{localize "ExEss.Handaxe"}}</option>
                        <option value="lightning">{{localize "ExEss.Lightning"}}</option>
                        <option value="quarterstaff">{{localize "ExEss.Quarterstaff"}}</option>
                        <option value="rapier">{{localize "ExEss.Rapier"}}</option>
                        <option value="scimitar">{{localize "ExEss.Scimitar"}}</option>
                        <option value="shortsword">{{localize "ExEss.Shortsword"}}</option>
                        <option value="spear">{{localize "ExEss.Spear"}}</option>
                        <option value="sword">{{localize "ExEss.Sword"}}</option>
                        <option value="throwdagger">{{localize "ExEss.ThrownDagger"}}</option>
                        <option value="none">{{localize "ExEss.None"}}</option>
                        {{/select}}
                    </select>
                    <div>
                        <label class="resource-label mr-1">{{localize "ExEss.CustomInput"}}: </label>
                        <input type="text" name="system.attackeffect" value="{{system.attackeffect}}"
                            placeholder="jb2a.quarterstaff.melee.01.white" />
                    </div>
                </div>
            </div>
            {{> systems/exaltedessence/templates/actor/active-effects.html}}
        </div>
    </section>
</form>