<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="itemname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" />
                <a data-action="editTraits" data-options="weapontags" data-target="system.traits.weapontags">
                    <i class="fas fa-edit"></i>
                </a>
            </h1>
            <div class="mt-1">
                <div class="mt-1">
                    {{#each system.traits.weapontags.selected as |v k|}}
                    <li class="tag {{k}}">{{v}}</li>
                    {{/each}}
                </div>
            </div>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "ExEss.Description"}}</a>
        <a class="item" data-tab="effects">{{localize "ExEss.Effects"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            <div class="d-flex flex-center resources">
                <div>
                    <div class="resource-label">{{localize "ExEss.Accuracy"}}</div>
                    <input type="number" name="system.accuracy" value="{{system.accuracy}}" data-dtype="Number" />
                </div>
                <div>
                    <div class="resource-label">{{localize "ExEss.Damage"}}</div>
                    <input type="number" name="system.damage" value="{{system.damage}}" data-dtype="Number" />
                </div>
                <div>
                    <div class="resource-label">{{localize "ExEss.Defense"}}</div>
                    <input type="number" name="system.defense" value="{{system.defense}}" data-dtype="Number" />
                </div>
                <div>
                    <div class="resource-label">{{localize "ExEss.Overwhelming"}}</div>
                    <input type="number" name="system.overwhelming" value="{{system.overwhelming}}"
                        data-dtype="Number" />
                </div>
            </div>
            <div class="d-flex flex-center resources mt-1">
                <div class="check-button">
                    <label class="resource-label">{{localize "ExEss.Equipped"}}: </label>
                    <input name="system.equipped" type="checkbox" {{checked system.equipped}}>
                    <label class="resource-label mr-1">{{localize "ExEss.Type"}}: </label>
                    <select name="system.weapontype" data-type="String">
                        {{selectOptions selects.weaponTypes selected=system.weapontype localize=true}}
                    </select>
                </div>
            </div>
            {{editor descriptionHTML target="system.description" button=true editable=editable engine="prosemirror"}}
        </div>
        <div class="tab" data-group="primary" data-tab="effects">
            <div class="grid grid-2col flex-group-center">
                <div>
                    <div class="resource-label">{{localize "ExEss.Weight"}}</div>
                    <select name="system.weight" data-type="String">
                        {{selectOptions selects.itemWeights selected=system.weight localize=true blank=""}}
                    </select>
                </div>
            </div>
            <div>
                <div class="d-flex flex-center resources">
                    <label class="resource-label mr-1">{{localize "ExEss.AttackEffect"}} </label>
                </div>
                <div>
                    <label class="resource-label mr-1">{{localize "ExEss.Preset"}}: </label>
                    <select name="system.attackeffectpreset" data-type="String">
                        {{selectOptions selects.attackEffectPresets selected=system.attackeffectpreset localize=true}}
                    </select>
                    <div>
                        <label class="resource-label mr-1">{{localize "ExEss.CustomInput"}}: </label>
                        <input type="text" name="system.attackeffect" value="{{system.attackeffect}}"
                            placeholder="jb2a.quarterstaff.melee.01.white" />
                    </div>
                </div>
            </div>
            {{> systems/exaltedessence/templates/actor/active-effects.html}}
        </div>
    </section>
</form>