    <div class="resource flex-center mb-1" style="font-size: 17px;"><label class="resource-label">{{localize
            "ExEss.DiceRollerTriggers"}} <a class="item-control" data-action="triggerAction" title="Create trigger" data-function="add"><i
                    class="fas fa-plus"></i></a></label>
    </div>
    {{#each system.triggers.dicerollertriggers as |alternate index|}}            
    <div class="item large-item">
        <div class="item-text gap">
            <div class="item-image"><img class="list-item-image" src="{{../item.img}}" title="{{alternate.name}}"
                    width="35" height="35" /></div>
            <span class="item-name">{{alternate.name}}</span>
            <span class="text-summary">{{alternate.summary}}</span>
        </div>
        <div class="item-controls" data-item-index="{{index}}">
            <a class="item-trigger" data-action="triggerAction"
                title="Edit trigger" data-item-index="{{index}}" data-function="edit"><i class="fas fa-edit"></i></a>
            <a class="item-trigger" data-action="triggerAction" data-function="delete"
                title="Remove trigger" data-item-index="{{index}}"><i class="fas fa-trash"></i></a>
        </div>
    </div>
    {{/each}}