<header class="sheet-header item-sheet-header">
    <img class="profile-img" src="{{item.img}}" data-action="onEditImage" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
        {{#if traitHeader}}
        <h1 class="itemname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" />
            <a class="edit-trait-button" data-action="editTraits" data-options="{{type}}tags"
                data-target="system.traits.{{type}}tags">
                <i class="fas fa-edit"></i>
            </a>
        </h1>
        {{else}}
        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
        {{/if}}
        {{#ifEquals type 'armor'}}
        <div class="mt-1">
            <div class="mt-1">
                {{#each system.traits.armortags.selected as |v k|}}
                <li class="tag {{k}}">{{v}}</li>
                {{/each}}
            </div>
        </div>
        {{/ifEquals}}
        {{#ifEquals type 'weapon'}}
        <div class="mt-1">
            <div class="mt-1">
                {{#each system.traits.weapontags.selected as |v k|}}
                <li class="tag {{k}}">{{v}}</li>
                {{/each}}
            </div>
        </div>
        {{/ifEquals}}
        {{#ifEquals type 'charm'}}
        <div class="item-header-details">
            <label class="resource-label">{{localize "ExEss.Type"}}:</label>
            <select name="system.charmtype" data-type="String">
                {{selectOptions selects.exaltCharmTypes selected=system.charmtype localize=true}}
            </select>
            <label class="resource-label">{{localize "ExEss.Ability"}}: </label>
            <select name="system.ability" data-type="String">
                {{selectOptions selects.charmAbilities selected=system.ability localize=true}}
            </select>
            <select name="system.requirement" data-type="String">
                {{selectOptions selects.abilityRequirementLevels selected=system.requirement localize=true}}
            </select>
            <label class="resource-label">{{localize "ExEss.Essence"}}: </label>
            <select name="system.essence" data-type="String">
                {{selectOptions selects.abilityRequirementLevels selected=system.essence localize=true}}
            </select>
        </div>
        {{/ifEquals}}
        {{#ifEquals type 'item'}}
        <div class="grid grid-2col">
            <div class="resource">
                <label class="resource-label">Quantity</label>
                <input type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" />
            </div>
        </div>
        {{/ifEquals}}
        {{#ifEquals type 'intimacy'}}
        <div class="d-flex flex-center">
            <label class="resource-label">{{localize "ExEss.Strength"}}: </label>
            <select name="system.strength" data-type="String">
                {{selectOptions selects.intimacyStrengths selected=system.strength localize=true}}
            </select>
            <label class="resource-label">{{localize "ExEss.Type"}}: </label>
            <select name="system.intimacytype" data-type="String">
                {{selectOptions selects.intimacyTypes selected=system.intimacytype localize=true}}
            </select>
            <label class="resource-label">{{localize "ExEss.Virtue"}}: </label>
            <input type="text" name="system.virtue" value="{{system.virtue}}" />
        </div>
        {{/ifEquals}}
        {{#ifEquals type 'merit'}}
        <label class="resource-label">{{localize "ExEss.Rating"}}</label>
        <select name="system.rating" data-dtype="String">
            {{selectOptions selects.meritRatings selected=system.rating localize=true blank="ExEss.None"}}
        </select>
        {{/ifEquals}}
        {{#ifEquals type 'ritual'}}
        <label class="resource-label">{{localize "ExEss.Will"}}: </label>
        <input type="number" name="system.will" value="{{system.will}}" />
        {{/ifEquals}}
        {{#ifEquals type 'spell'}}
        <div class="item-header-details">
            <label class="resource-label">{{localize "ExEss.Cost"}}: </label>
            <input type="text" name="system.cost" value="{{system.cost}}" style="width:55px;" />
            <label class="resource-label">{{localize "ExEss.Circle"}}: </label>
            <select name="system.circle" data-type="String">
                {{selectOptions selects.sorceryCircles selected=system.circle localize=true}}
            </select>
            <label class="resource-label">{{localize "ExEss.Type"}}: </label>
            <select name="system.spelltype" data-type="String">
                {{selectOptions selects.spellTypes selected=system.spelltype localize=true}}
            </select>
        </div>
        {{/ifEquals}}
    </div>
</header>