<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="itemname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" />
                <a data-action="editTraits" data-options="armortags" data-target="system.traits.armortags">
                    <i class="fas fa-edit"></i>
                </a>
            </h1>
            <div class="mt-1">
                <div class="mt-1">
                    {{#each system.traits.armortags.selected as |v k|}}
                    <li class="tag {{k}}">{{v}}</li>
                    {{/each}}
                </div>
            </div>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "ExEss.Description"}}</a>
        <a class="item" data-tab="effects">{{localize "ExEss.Effects"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            <div class="grid grid-4col flex-center resources">
                <div>
                    <div class="resource-label">{{localize "ExEss.Soak"}}</div>
                    <input type="number" name="system.soak" value="{{system.soak}}" data-dtype="Number" />
                </div>
                <div>
                    <div class="resource-label">{{localize "ExEss.Penalty"}}</div>
                    <input type="number" name="system.penalty" value="{{system.penalty}}" data-dtype="Number" />
                </div>
                <div>
                    <div class="resource-label">{{localize "ExEss.Hardness"}}</div>
                    <input type="number" name="system.hardness" value="{{system.hardness}}" data-dtype="Number" />
                </div>
                <div>
                    <div class="resource-label">{{localize "ExEss.Equipped"}}</div>
                    <input name="system.equipped" type="checkbox" {{checked system.equipped}}>
                </div>
            </div>
            {{editor descriptionHTML target="system.description" button=true editable=editable engine="prosemirror"}}
        </div>

        <div class="tab" data-group="primary" data-tab="effects">
            <div class="grid grid-2col flex-group-center">
                <div>
                    <div class="resource-label">{{localize "ExEss.Weight"}}</div>
                    <select name="system.weight" data-type="String">
                        {{selectOptions selects.itemWeights selected=system.weight localize=true blank=""}}
                    </select>
                </div>
            </div>
            {{> systems/exaltedessence/templates/actor/active-effects.html}}
        </div>

    </section>
</form>
