<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div>
                <label class="resource-label">{{localize "ExEss.CharmType"}}:</label>
                <select name="system.charmtype" data-type="String">
                    {{selectOptions selects.exaltCharmTypes selected=system.charmtype localize=true}}
                </select>
                <label class="resource-label">{{localize "ExEss.Ability"}}: </label>
                <select name="system.ability" data-type="String">
                    {{selectOptions selects.charmAbilities selected=system.ability localize=true}}
                </select>
                <select name="system.requirement" data-type="String">
                    {{selectOptions selects.abilityRequirementLevels selected=system.requirement localize=true}}
                </select>
                <label class="resource-label">{{localize "ExEss.Essence"}}: </label>
                <select name="system.essence" data-type="String">
                    {{selectOptions selects.abilityRequirementLevels selected=system.essence localize=true}}
                </select>
            </div>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "ExEss.Description"}}</a>
        <a class="item" data-tab="costs">{{localize "ExEss.Costs"}}</a>
        <a class="item" data-tab="rollbonuses">{{localize "ExEss.RollBonuses"}}</a>
        <a class="item" data-tab="effects">{{localize "ExEss.Effects"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor descriptionHTML target="system.description" button=true editable=editable engine="prosemirror"}}
        </div>

        <div class="tab" data-group="primary" data-tab="costs">
            {{> systems/exaltedessence/templates/item/item-cost.html}}
        </div>

        <div class="tab" data-group="primary" data-tab="rollbonuses">
            <div class="resource flex-center">
                <label class="resource-label">{{localize "ExEss.DiceRollModifiers"}}</label>
            </div>

            <div>
                <div class="resource grid grid-3col flex-center">
                    <div>
                        <label class="resource-label">{{localize "ExEss.DiceBonus"}} </label>
                        <input name="system.diceroller.bonusdice" value="{{system.diceroller.bonusdice}}" type="number">
                    </div>
                    <div>
                        <label class="resource-label">{{localize "ExEss.SuccessBonus"}} </label>
                        <input name="system.diceroller.bonussuccesses" value="{{system.diceroller.bonussuccesses}}"
                            type="number">
                    </div>
                    <div>
                        <label class="resource-label">{{localize "ExEss.DoubleSuccess"}} + </label>
                        <input name="system.diceroller.doublesuccess" value="{{system.diceroller.doublesuccess}}"
                            type="number">
                    </div>
                    <div>
                        <label class="resource-label">{{localize "ExEss.RerollNumDice"}} </label>
                        <input name="system.diceroller.rerolldice" value="{{system.diceroller.rerolldice}}"
                            type="number">
                    </div>
                    <div>
                        <label class="resource-label">{{localize "ExEss.DicetoSuccesses"}} </label>
                        <input name="system.diceroller.dicetosuccesses" value="{{system.diceroller.dicetosuccesses}}"
                            type="number">
                    </div>
                    <div>
                        <label class="resource-label">{{localize "ExEss.RerollFailed"}} </label>
                        <div>
                            <input type="checkbox" name="system.diceroller.rerollfailed" {{checked system.diceroller.rerollfailed}}>
                        </div>
                    </div>
                    <div>
                        <label class="resource-label">{{localize "ExEss.RollTwiceKeepHighest"}} </label>
                        <div>
                            <input type="checkbox" name="system.diceroller.rolltwice" {{checked system.diceroller.rolltwice}}>
                        </div>
                    </div>
                    <div>
                        <div class="resource-label">{{localize "ExEss.ActivateAura"}}</div>
                        <select name="system.diceroller.activateaura" data-type="String">
                            {{selectOptions selects.elements selected=system.diceroller.activateaura localize=true}}
                        </select>
                    </div>
                </div>

            </div>
            <div class="resource flex-center">
                <label class="resource-label">{{localize "ExEss.Damage"}}</label>
            </div>
            <div>
                <div class="resource grid grid-3col flex-center">
                    <div>
                        <label class="resource-label">{{localize "ExEss.DiceBonus"}} </label>
                        <input name="system.diceroller.damage.bonusdice" value="{{system.diceroller.damage.bonusdice}}" type="number">
                    </div>
                    <div>
                        <label class="resource-label">{{localize "ExEss.SuccessBonus"}} </label>
                        <input name="system.diceroller.damage.bonussuccesses" value="{{system.diceroller.damage.bonussuccesses}}"
                            type="number">
                    </div>
                    <div>
                        <label class="resource-label">{{localize "ExEss.Overwhelming"}} </label>
                        <input name="system.diceroller.damage.overwhelming" value="{{system.diceroller.damage.overwhelming}}"
                            type="number">
                    </div>
                    <div>
                        <label class="resource-label">{{localize "ExEss.IgnoreSoak"}} </label>
                        <input name="system.diceroller.damage.ignoresoak" value="{{system.diceroller.damage.ignoresoak}}"
                            type="number">
                    </div>
                    <div>
                        <label class="resource-label">{{localize "ExEss.DoubleExtraSuccesses"}} </label>
                        <div>
                            <input type="checkbox" name="system.diceroller.damage.doubleextrasuccess" {{checked system.diceroller.damage.doubleextrasuccess}}>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="d-flex flex-center resource-label" style="font-weight: bold;font-size: 17px;">
                <div>
                    {{localize "ExEss.OpposedBonuses"}}
                </div>
                <input name="system.diceroller.opposedbonuses.enabled" 
                    type="checkbox" {{checked system.diceroller.opposedbonuses.enabled}}>
            </div>
            <div>
                <div class="resource grid grid-3col flex-center">
                    <div>
                        <label class="resource-label">{{localize "ExEss.Resolve"}}</label>
                        <input name="system.diceroller.opposedbonuses.resolve" value="{{system.diceroller.opposedbonuses.resolve}}"
                            type="number">
                    </div>
                    <div>
                        <label class="resource-label">{{localize "ExEss.Defense"}}</label>
                        <input name="system.diceroller.opposedbonuses.defense" value="{{system.diceroller.opposedbonuses.defense}}" type="number">
                    </div>
                    <div>
                        <label class="resource-label">{{localize "ExEss.Soak"}}</label>
                        <input name="system.diceroller.opposedbonuses.soak" value="{{system.diceroller.opposedbonuses.soak}}" type="number">
                    </div>
                </div>
            </div>
        </div>

        <div class="tab" data-group="primary" data-tab="effects">
            <div class="grid grid-2col flex-group-center">
                <div>
                    <label class="resource-label">{{localize "ExEss.Activatable"}}</label>
                    <div>
                        <input name="system.activatable" type="checkbox" {{checked system.activatable}}>
                    </div>
                </div>
                <div>
                    <div class="resource-label">{{localize "ExEss.AutoAddToRolls"}}</div>
                    <select name="system.autoaddtorolls" data-type="String">
                        {{selectOptions selects.autoAddToRollOptions selected=system.autoaddtorolls localize=true}}
                    </select>
                </div>
            </div>
            {{> systems/exaltedessence/templates/actor/active-effects.html}}
        </div>

    </section>
</form>
